@model YiQiWorkFlow.Domain.Ms.MsAdjustPoints
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>积分调整管理编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "积分调整管理"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:50"; var id = "@Model.Id"; pageName = "MsAdjustPointsEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData(true);
            $.ajax({
                url: "/Ms/SaveMsAdjustPoints",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_MsAdjustPoints .content").first().text(r.Message);
                        $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsAdjustPoints .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>积分调整管理编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsAdjustPoints">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsAdjustPoints">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsAdjustPoints">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsAdjustPoints">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock">
                    <label for="Control_NumberFlow">流水号:</label>
                    <input id="Control_NumberFlow" value="@Model.Id" name="Id" class="mini-hidden" />
                </div>

                <div class="ablock">
                    <label for="Control_AdjustDate">调整日期:</label>
                    <input type="text" id="Control_AdjustDate" name="AdjustDate" value="@Model.AdjustDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_CardNumber">卡号:</label>
                    <input type="text" value="@Model.CardNumber" class="mini-textbox" name="CardNumber" id="Control_CardNumber" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_SurfaceNumber">卡面明码:</label>
                    <input type="text" value="@Model.SurfaceNumber" class="mini-textbox" name="SurfaceNumber" id="Control_SurfaceNumber" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_MsCode">会员编码:</label>
                    <input type="text" value="@Model.MsCode" class="mini-textbox" name="MsCode" id="Control_MsCode" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_MsName">会员姓名:</label>
                    <input type="text" value="@Model.MsName" class="mini-textbox" name="MsName" id="Control_MsName" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardCode">卡类型编码:</label>
                    <input type="text" value="@Model.CardCode" class="mini-textbox" name="CardCode" id="Control_CardCode" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_CardName">卡类型名称:</label>
                    <input type="text" value="@Model.CardName" class="mini-textbox" name="CardName" id="Control_CardName" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CurrentPoints">当前积分:</label>
                    <input type="text" id="Control_CurrentPoints" name="CurrentPoints" value="@Model.CurrentPoints" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_AdjustPoints">调整积分:</label>
                    <input type="text" id="Control_AdjustPoints" name="AdjustPoints" value="@Model.AdjustPoints" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_SurplusPoints">剩余积分:</label>
                    <input type="text" id="Control_SurplusPoints" name="SurplusPoints" value="@Model.SurplusPoints" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_CurrentMoney">当前金额:</label>
                    <input type="text" id="Control_CurrentMoney" name="CurrentMoney" value="@Model.CurrentMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_AdjustMoney">调整金额:</label>
                    <input type="text" id="Control_AdjustMoney" name="AdjustMoney" value="@Model.AdjustMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_SurplusMoney">剩余金额:</label>
                    <input type="text" id="Control_SurplusMoney" name="SurplusMoney" value="@Model.SurplusMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfModifyPw">是否修改密码:</label>
                    <div id="Control_IfModifyPw" name="IfModifyPw" value="1" class="mini-checkbox" checked="true" readonly="false" text="修改密码"></div>
                </div>

                <div class="ablock">
                    <label for="Control_Operator">操作员:</label>
                    <input type="text" value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_OperatorDate">操作时间:</label>
                    <input type="text" id="Control_OperatorDate" name="OperatorDate" value="@Model.OperatorDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>


            </fieldset>
            <div class="clear">
            </div>
            <div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>