@model YiQiWorkFlow.Domain.Ms.MsCardtypeManage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>卡类型编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "卡类型"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:51"; var id = "@Model.Id"; pageName = "MsCardtypeManageEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Ms/SaveMsCardtypeManage",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_MsCardtypeManage .content").first().text(r.Message);
                        $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsCardtypeManage .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>卡类型编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsCardtypeManage">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsCardtypeManage">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsCardtypeManage">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsCardtypeManage">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock" style="display: none">
                    <label for="Control_CardCode">卡类型编码:</label>
                    <input id="Control_CardCode" value="@Model.Id" name="Id" class="mini-hidden" />
                </div>

                <div class="ablock">
                    <label for="Control_CardName">卡类型名称:</label>
                    <input type="text" value="@Model.CardName" class="mini-textbox" name="CardName" id="Control_CardName" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardType">卡范围:</label>
                    <input type="text" value="@Model.CardType" class="mini-textbox" name="CardType" id="Control_CardType" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardMedium">卡介质:</label>
                    <input type="text" value="@Model.CardMedium" class="mini-textbox" name="CardMedium" id="Control_CardMedium" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardUsefulLife">卡有效期:</label>
                    <input type="text" id="Control_CardUsefulLife" name="CardUsefulLife" value="@Model.CardUsefulLife" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsUsefulLife">积分有效期:</label>
                    <input type="text" id="Control_PointsUsefulLife" name="PointsUsefulLife" value="@Model.PointsUsefulLife" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_TransactCharge">办卡费用:</label>
                    <input type="text" id="Control_TransactCharge" name="TransactCharge" value="@Model.TransactCharge" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_DepositMoney">押金金额:</label>
                    <input type="text" id="Control_DepositMoney" name="DepositMoney" value="@Model.DepositMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfVip">是否会员价:</label>
                    <div id="Control_IfVip" name="IfVip" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false"  text="会员价"></div>
                </div>

                <div class="ablock">
                    <label for="Control_IfDiscount">是否折扣:</label>
                    <div id="Control_IfDiscount" name="IfDiscount" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="折扣"></div>
                </div>

                <div class="ablock">
                    <label for="Control_DiscountBase">折扣基数:</label>
                    <input type="text" id="Control_DiscountBase" name="DiscountBase" value="@Model.DiscountBase" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_DiscountRate">折扣率:</label>
                    <input type="text" id="Control_DiscountRate" name="DiscountRate" value="@Model.DiscountRate" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="4" />
                </div>

                <div class="ablock">
                    <label for="Control_IfPoints">是否积分:</label>
                    <div id="Control_IfPoints" name="IfPoints" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="积分"></div>
                </div>

                <div class="ablock">
                    <label for="Control_ExpendBase">消费基数:</label>
                    <input type="text" id="Control_ExpendBase" name="ExpendBase" value="@Model.ExpendBase" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsValues">积分分值:</label>
                    <input type="text" id="Control_PointsValues" name="PointsValues" value="@Model.PointsValues" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_BirthdayPoints">会员生日积分:</label>
                    <input type="text" id="Control_BirthdayPoints" name="BirthdayPoints" value="@Model.BirthdayPoints" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfPrepaid">是否储值:</label>
                    <div id="Control_IfPrepaid" name="IfPrepaid" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="储值"></div>
                </div>

                <div class="ablock">
                    <label for="Control_IfPrepaidPassword">是否管理密码:</label>
                    <div id="Control_IfPrepaidPassword" name="IfPrepaidPassword" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="管理密码"></div>
                </div>

                <div class="ablock">
                    <label for="Control_LimitTimes">限制次数:</label>
                    <input type="text" id="Control_LimitTimes" name="LimitTimes" value="@Model.LimitTimes" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_PrestoreMoney">预存金额:</label>
                    <input type="text" id="Control_PrestoreMoney" name="PrestoreMoney" value="@Model.PrestoreMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PrestorePw">预设密码:</label>
                    <input type="text" value="@Model.PrestorePw" class="mini-textbox" name="PrestorePw" id="Control_PrestorePw" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMin">最低充值金额:</label>
                    <input type="text" id="Control_PrepaidMin" name="PrepaidMin" value="@Model.PrepaidMin" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMax">最高充值金额:</label>
                    <input type="text" id="Control_PrepaidMax" name="PrepaidMax" value="@Model.PrepaidMax" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfPointToPrepaid">是否积分转储值:</label>
                    <div id="Control_IfPointToPrepaid" name="IfPointToPrepaid" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="积分转储值"></div>
                </div>

                <div class="ablock">
                    <label for="Control_PointsBase">积分基数:</label>
                    <input type="text" id="Control_PointsBase" name="PointsBase" value="@Model.PointsBase" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMoney">转储值金额:</label>
                    <input type="text" id="Control_PrepaidMoney" name="PrepaidMoney" value="@Model.PrepaidMoney" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_CardNumberPrefix">卡号前缀:</label>
                    <input type="text" value="@Model.CardNumberPrefix" class="mini-textbox" name="CardNumberPrefix" id="Control_CardNumberPrefix" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardNumberLen">卡流水位数:</label>
                    <input type="text" id="Control_CardNumberLen" name="CardNumberLen" value="@Model.CardNumberLen" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_RandLen">随机位数:</label>
                    <input type="text" id="Control_RandLen" name="RandLen" value="@Model.RandLen" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_UpgradeType">累计积分，当前积分:</label>
                    <input type="text" value="@Model.UpgradeType" class="mini-textbox" name="UpgradeType" id="Control_UpgradeType" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsNeeds">所需积分:</label>
                    <input type="text" id="Control_PointsNeeds" name="PointsNeeds" value="@Model.PointsNeeds" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfDeductPoints">当前时可设:</label>
                    <div id="Control_IfDeductPoints" name="IfDeductPoints" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="当前时可设"></div>
                </div>

                <div class="ablock">
                    <label for="Control_IfAutoup">是否自动升级:</label>
                    <div id="Control_IfAutoup" name="IfAutoup" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="自动升级"></div>
                </div>

                <div class="ablock">
                    <label for="Control_CreateDate">创建时间:</label>
                    <input type="text" id="Control_CreateDate" name="CreateDate" value="@Model.CreateDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_Operator">操作员:</label>
                    <input type="text" value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_Assessor">审核人:</label>
                    <input type="text" value="@Model.Assessor" class="mini-textbox" name="Assessor" id="Control_Assessor" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_IfExamine">是否审核:</label>
                    <div id="Control_IfExamine" name="IfExamine" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" text="审核"></div>
                </div>

                <div class="ablock">
                    <label for="Control_ExamineDate">审核时间:</label>
                    <input type="text" id="Control_ExamineDate" name="ExamineDate" value="@Model.ExamineDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_OperatorDate">操作时间:</label>
                    <input type="text" id="Control_OperatorDate" name="OperatorDate" value="@Model.OperatorDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>


            </fieldset>
            <div class="clear">
            </div>
            <div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
