@model YiQiWorkFlow.Domain.Ms.MsCardtypeManage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>卡类型设置</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "卡类型设置"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:51"; var id = "@Model.Id"; pageName = "MsCardtypeManageEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form

            // 判断卡类型名称是否重复
            if (ValidateData()) {
                var o = form.getData(true);
                $.ajax({
                    url: "/Ms/SaveMsCardtypeManage",
                    type: 'post',
                    data: o,
                    cache: false,
                    dataType: "json",
                    success: function (r) {
                        if (r.IsSuccess == true) {
                            // 打开新增页面
                            location.href = "/Ms/MsCardtypeManageEdit";
                        } else {
                            $("#Tooltip_Critical_MsCardtypeManage .content").first().text(r.Message);
                            $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                            form.unmask();
                            $(document).scrollTop(0);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#Tooltip_Critical_MsCardtypeManage .content").first().text(jqXHR.responseText);
                        $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                });
            }
        }

        function ExameData() {

            var form = new mini.Form("#formMain"); // default form

            // 判断是否已经保存
            if (mini.get('#Control_CardCode').getValue() == "") {
                mini.alert("信息尚未保存！");
                return false;
            }

            if (ValidateData()) {

                mini.confirm("是否审核当前卡类型信息?", "审核", function (action) {
                    if (action == "ok") {
                        
                        // 设定
                        mini.get('#Control_IfExamine').setValue("1");

                        var o = form.getData(true);
                        $.ajax({
                            url: "/Ms/SaveMsCardtypeManage",
                            type: 'post',
                            data: o,
                            cache: false,
                            dataType: "json",
                            success: function (r) {
                                if (r.IsSuccess == true) {
                                    mini.alert("审核成功！");
                                    //closeWithNoValidate();
                                    location.href = "/Ms/MsCardtypeManageEdit";
                                } else {
                                    $("#Tooltip_Critical_MsCardtypeManage .content").first().text(r.Message);
                                    $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                                    mini.alert("审核失败！");
                                    // 设定
                                    mini.get('#Control_IfExamine').setValue("0");
                                    form.unmask();
                                    $(document).scrollTop(0);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $("#Tooltip_Critical_MsCardtypeManage .content").first().text(jqXHR.responseText);
                                $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                                mini.alert("审核失败！");
                                // 设定
                                mini.get('#Control_IfExamine').setValue("0");
                                form.unmask();
                                $(document).scrollTop(0);
                            }
                        });

                        return;
                    } else {
                        return;
                    }
                });
            }
        }

        function AbolishData() {

            var form = new mini.Form("#formMain"); // default form

            // 判断是否已经保存
            if (mini.get('#Control_CardCode').getValue() == "") {
                mini.alert("信息尚未保存！");
                return false;
            }

            if (ValidateData()) {

                mini.confirm("是否废除当前卡类型信息?", "废除", function (action) {

                    if (action == "ok") {
                        // 设定
                        mini.get('#Control_IfExamine').setValue("-1");

                        var o = form.getData(true);
                        $.ajax({
                            url: "/Ms/SaveMsCardtypeManage",
                            type: 'post',
                            data: o,
                            cache: false,
                            dataType: "json",
                            success: function (r) {
                                if (r.IsSuccess == true) {
                                    mini.alert("废除成功！");
                                    location.href = "/Ms/MsCardtypeManageEdit";
                                } else {
                                    $("#Tooltip_Critical_MsCardtypeManage .content").first().text(r.Message);
                                    $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                                    mini.alert("废除失败！");
                                    // 设定
                                    mini.get('#Control_IfExamine').setValue("0");
                                    form.unmask();
                                    $(document).scrollTop(0);
                                }
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                $("#Tooltip_Critical_MsCardtypeManage .content").first().text(jqXHR.responseText);
                                $("#Tooltip_Critical_MsCardtypeManage").show("fast");
                                mini.alert("废除失败！");
                                // 设定
                                mini.get('#Control_IfExamine').setValue("0");
                                form.unmask();
                                $(document).scrollTop(0);
                            }
                        });
                    }
                });
            }
        }

        function ValidateData() {
            // 验证
            if (mini.get('#Control_IfExamine').getValue() == "1") {
                mini.alert("已经审核不能保存！");
                return false;
            }

            if (mini.get('#Control_IfExamine').getValue() == "-1") {
                mini.alert("已经废除不能保存！");
                return false;
            }

            if (mini.get('#Control_CardUsefulLife').getValue() < mini.get('#Control_PointsUsefulLife').getValue()) {
                mini.alert("卡有效期不能小于积分有效期！");
                mini.get('#Control_CardUsefulLife').focus();
                return false;
            }

            if (mini.get('#Control_PrepaidMin').getValue() > mini.get('#Control_PrepaidMax').getValue()) {
                mini.alert("最低充值金额不能大于最高充值金额！");
                mini.get('#Control_PrepaidMin').focus();
                return false;
            }

            return true;
        }

        $(function () {
            var cardName = mini.get('#Control_CardName').getValue();
            if (cardName) {
                mini.get('#btnAbolish').show();
            } else {
                mini.get('#btnAbolish').hide();
            }
        });

        function Add() {
            location.href = "/Ms/MsCardtypeManageEdit";
        }

        function Search() {
            location.href = "/Ms/MsCardtypeManageList";
        }

    </script>
</head>
<body>
    <div class="container">
        <div id="toolbar1" class="mini-toolbar" style="padding: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a id="btnAdd" iconcls="icon-add" class="mini-button" plain="true" tooltip="增加">增加</a>
                        <a id="btnFormSubmit" iconcls="icon-save" class="mini-button" plain="true" tooltip="保存(Ctrl+S)">保存</a>
                        <a id="btnSearch" iconcls="icon-search" class="mini-button" plain="true" tooltip="查询">查询</a>
                        <!--<a id="btnDelete" iconcls="icon-remove" class="mini-button" plain="true" tooltip="删除">删除</a>-->
                        <a id="btnExame" iconcls="icon-ok" class="mini-button" plain="true" tooltip="审核(Ctrl+E)">审核</a>
                        <a id="btnAbolish" iconcls="icon-no" class="mini-button" plain="true" tooltip="废除(Ctrl+F)">废除</a>
                        <!--<a id="btnFormReset" iconcls="icon-undo" class="mini-button" plain="true" tooltip="重置(Esc)">重置</a>-->
                        <a id="btnPrint" iconcls="icon-print" class="mini-button" plain="true" tooltip="打印">打印</a>
                        <a id="btnReturn" iconcls="icon-undo" class="mini-button" plain="true" tooltip="返回(Ctrl+Q)">返回</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--<h1>卡类型编辑
        </h1>-->
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsCardtypeManage">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsCardtypeManage">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsCardtypeManage">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsCardtypeManage">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于卡类型编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>卡基础信息</legend>
                <div class="ablock">
                    <label for="Control_Id">卡类型编码:</label>
                    <input type="text" value="@Model.Id" class="mini-textbox" name="Id" id="Control_Id" vtype="maxLength:20" required="true" enabled="false" />
                </div>

                <div class="ablock">
                    <label for="Control_CardName">卡类型名称:</label>
                    <input type="text" value="@Model.CardName" class="mini-textbox" name="CardName" id="Control_CardName" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_CardType">卡范围:</label>
                    <input type="text" value="@Model.CardType" class="mini-combobox" name="CardType" id="Control_CardType" data="c_CardType" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_CardUsefulLife">卡有效期:</label>
                    <input type="text" id="Control_CardUsefulLife" name="CardUsefulLife" value="@Model.CardUsefulLife" class="mini-spinner" minvalue="1" maxvalue="999999" allowlimitvalue="true" decimalplaces="0" required="true" emptytext="365" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsUsefulLife">积分有效期:</label>
                    <input type="text" id="Control_PointsUsefulLife" name="PointsUsefulLife" value="@Model.PointsUsefulLife" class="mini-spinner" minvalue="1" maxvalue="999999" allowlimitvalue="true" decimalplaces="0" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_CardMedium">卡介质:</label>
                    <input type="text" value="@Model.CardMedium" class="mini-combobox" name="CardMedium" id="Control_CardMedium" data="c_CardMedium" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_CardNumberPrefix">卡号前缀:</label>
                    <input type="text" value="@Model.CardNumberPrefix" class="mini-spinner" name="CardNumberPrefix" id="Control_CardNumberPrefix" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_CardNumberLen">卡流水位数:</label>
                    <input type="text" id="Control_CardNumberLen" name="CardNumberLen" value="@Model.CardNumberLen" class="mini-spinner" minvalue="0" maxvalue="“20" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_RandLen">随机位数:</label>
                    <input type="text" id="Control_RandLen" name="RandLen" value="@Model.RandLen" class="mini-spinner" minvalue="0" maxvalue="8" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_TransactCharge">办卡费用:</label>
                    <input type="text" id="Control_TransactCharge" name="TransactCharge" value="@Model.TransactCharge" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_DepositMoney">押金金额:</label>
                    <input type="text" id="Control_DepositMoney" name="DepositMoney" value="@Model.DepositMoney" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_UpgradeType">卡升级方式:</label>
                    <input type="text" value="@Model.UpgradeType" class="mini-combobox" name="UpgradeType" id="Control_UpgradeType" data="c_UpgradeType" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsNeeds">升级所需积分:</label>
                    <input type="text" id="Control_PointsNeeds" name="PointsNeeds" value="@Model.PointsNeeds" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_IfDeductPoints">是否扣除积分:</label>
                    <div id="Control_IfDeductPoints" name="IfDeductPoints" class="mini-checkbox" value="@Model.IfDeductPoints" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_IfAutoup">是否自动升级</label>
                    <div id="Control_IfAutoup" name="IfAutoup" class="mini-checkbox" value="@Model.IfAutoup" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

            </fieldset>

            <fieldset>
                <legend>卡功能信息</legend>

                <div class="ablock clear">
                    <label for="Control_IfVip">是否会员价:</label>
                    <div id="Control_IfVip" name="IfVip" class="mini-checkbox" value="@Model.IfVip" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock ">
                    <label for="Control_IfDiscount">是否折扣:</label>
                    <div id="Control_IfDiscount" name="IfDiscount" class="mini-checkbox" value="@Model.IfDiscount" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_DiscountBase">折扣基数:</label>
                    <input type="text" id="Control_DiscountBase" name="DiscountBase" value="@Model.DiscountBase" class="mini-spinner" minvalue="0.00" maxvalue="1.00" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_DiscountRate">折扣率:</label>
                    <input type="text" id="Control_DiscountRate" name="DiscountRate" value="@Model.DiscountRate" class="mini-spinner" minvalue="0.00" maxvalue="1.00" decimalplaces="2" increment="0.1" />
                </div>

                <div class="ablock clear" style="height:0"></div>
                <div class="ablock">
                    <label for="Control_IfPoints">是否积分:</label>
                    <div id="Control_IfPoints" name="IfPoints" class="mini-checkbox" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_ExpendBase">消费基数:</label>
                    <input type="text" id="Control_ExpendBase" name="ExpendBase" value="@Model.ExpendBase" class="mini-spinner" minvalue="0" maxvalue="999999" />
                </div>

                <div class="ablock">
                    <label for="Control_PointsValues">积分分值:</label>
                    <input type="text" id="Control_PointsValues" name="PointsValues" value="@Model.PointsValues" class="mini-spinner" minvalue="0" maxvalue="999999999" />
                </div>

                <div class="ablock">
                    <label for="Control_BirthdayPoints">会员生日积分倍数:</label>
                    <input type="text" id="Control_BirthdayPoints" name="BirthdayPoints" value="@Model.BirthdayPoints" class="mini-spinner" minvalue="1" maxvalue="10" />
                </div>

                <div class="ablock clear" style="height:0"></div>
                <div class="ablock">
                    <label for="Control_IfPrepaid">是否储值:</label>
                    <div id="Control_IfPrepaid" name="IfPrepaid" class="mini-checkbox" value="@Model.IfPrepaid" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_IfPrepaidPassword">是否管理密码:</label>
                    <div id="Control_IfPrepaidPassword" name="IfPrepaidPassword" class="mini-checkbox" value="@Model.IfPrepaidPassword" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_LimitTimes">限制次数:</label>
                    <input type="text" id="Control_LimitTimes" name="LimitTimes" value="@Model.LimitTimes" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="0" />
                </div>

                <div class="ablock">
                    <label for="Control_PrestoreMoney">预存金额:</label>
                    <input type="text" id="Control_PrestoreMoney" name="PrestoreMoney" value="@Model.PrestoreMoney" class="mini-spinner" minvalue="0" maxvalue="999999" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PrestorePw">预设密码:</label>
                    <input type="text" value="@Model.PrestorePw" class="mini-password" name="PrestorePw" id="Control_PrestorePw" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMin">最低充值金额:</label>
                    <input type="text" id="Control_PrepaidMin" name="PrepaidMin" value="@Model.PrepaidMin" class="mini-spinner" minvalue="0" maxvalue="999999" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMax">最高充值金额:</label>
                    <input type="text" id="Control_PrepaidMax" name="PrepaidMax" value="@Model.PrepaidMax" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" />
                </div>

                <div class="ablock clear" style="height:0"></div>
                <div class="ablock">
                    <label for="Control_IfPointToPrepaid">是否积分转储值:</label>
                    <div id="Control_IfPointToPrepaid" name="IfPointToPrepaid" class="mini-checkbox" value="@Model.IfPointToPrepaid" truevalue="1" falsevalue="0" readonly="false" text=""></div>
                </div>

                <div class="ablock">
                    <label for="Control_PointsBase">积分基数:</label>
                    <input type="text" id="Control_PointsBase" name="PointsBase" value="@Model.PointsBase" class="mini-spinner" minvalue="0" maxvalue="999999" />
                </div>

                <div class="ablock">
                    <label for="Control_PrepaidMoney">转储值金额:</label>
                    <input type="text" id="Control_PrepaidMoney" name="PrepaidMoney" value="@Model.PrepaidMoney" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_CreateDate">创建时间:</label>
                    <input type="text" id="Control_CreateDate" name="CreateDate" value="@Model.CreateDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_Operator">操作员:</label>
                    <input type="text" value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_Assessor">审核人:</label>
                    <input type="text" value="@Model.Assessor" class="mini-textbox" name="Assessor" id="Control_Assessor" vtype="maxLength:20" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_IfExamine">是否审核:</label>
                    <div id="Control_IfExamine" name="IfExamine" class="mini-textbox" value="@Model.IfExamine" readonly="true" text="审核"></div>
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_ExamineDate">审核时间:</label>
                    <input type="text" id="Control_ExamineDate" name="ExamineDate" value="@Model.ExamineDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_OperatorDate">操作时间:</label>
                    <input type="text" id="Control_OperatorDate" name="OperatorDate" value="@Model.OperatorDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>
            </fieldset>
            <div class="clear">
            </div>
            <!--<div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="button" class="myButton" id="btnExame" value="审核(Ctrl+E)" />
                    <input type="button" class="myRedButton" id="btnAbolish" value="废除(Ctrl+F)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>-->
        </form>
    </div>
</body>
</html>
