@model YiQiWorkFlow.Domain.Ms.MsMemberArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>会员信息编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "会员信息"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:51"; var id = "@Model.Id"; pageName = "MsMemberArchivesEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData(true);
            $.ajax({
                url: "/Ms/SaveMsMemberArchives",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_MsMemberArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_MsMemberArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsMemberArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsMemberArchives").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>会员信息编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsMemberArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于会员信息编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsMemberArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于会员信息编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsMemberArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于会员信息编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsMemberArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于会员信息编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock">
                    <label for="Control_CardNumber">卡号:</label>
                    <input type="text" value="@Model.CardNumber" class="mini-textbox" name="CardNumber" id="Control_CardNumber" vtype="maxLength:20" allowinput="false" readonly="readonly" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_MsCode">会员编码:</label>
                    <input id="Control_MsCode" value="@Model.Id" name="Id" class="mini-hidden" />
                </div>

                <div class="ablock">
                    <label for="Control_MsName">会员姓名:</label>
                    <input type="text" value="@Model.MsName" class="mini-textbox" name="MsName" id="Control_MsName" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_Birthday">出生日期:</label>
                    <input type="text" id="Control_Birthday" name="Birthday" value="@Model.Birthday" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_Sex">性别:</label>
                    <input type="text" value="@Model.Sex" class="mini-combobox" name="Sex" id="Control_Sex" data="c_Sex" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PoliticsCode">政治面貌编码:</label>
                    <input type="text" value="@Model.PoliticsCode" class="mini-combobox" name="PoliticsCode" id="Control_PoliticsCode" data="c_PoliticsCode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_NationCode">民族编码:</label>
                    <input type="text" value="@Model.NationCode" class="mini-combobox" name="NationCode" id="Control_NationCode" data="c_NationCode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_EducationCode">学历编码:</label>
                    <input type="text" value="@Model.EducationCode" class="mini-combobox" name="EducationCode" id="Control_EducationCode" data="c_EducationCode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_ProfessionalTitleCode">职称编码:</label>
                    <input type="text" value="@Model.ProfessionalTitleCode" class="mini-combobox" name="ProfessionalTitleCode" id="Control_ProfessionalTitleCode" data="c_ProfessionalTitleCode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_IfMarried">婚否:</label>
                    <div id="Control_IfMarried" name="IfMarried" value="1" class="mini-checkbox" truevalue="1" falsevalue="0" checked="true" readonly="false" text="婚否"></div>
                </div>

                <div class="ablock">
                    <label for="Control_NativePlace">籍贯:</label>
                    <input type="text" value="@Model.NativePlace" class="mini-textbox" name="NativePlace" id="Control_NativePlace" vtype="maxLength:40" />
                </div>

                <div class="ablock">
                    <label for="Control_Idcard">身份证号:</label>
                    <input type="text" value="@Model.Idcard" class="mini-textbox" name="Idcard" id="Control_Idcard" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_FamilyPhone">家庭电话:</label>
                    <input type="text" value="@Model.FamilyPhone" class="mini-textbox" name="FamilyPhone" id="Control_FamilyPhone" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_Handset">手机:</label>
                    <input type="text" value="@Model.Handset" class="mini-textbox" name="Handset" id="Control_Handset" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_eMail">E-mail:</label>
                    <input type="text" value="@Model.eMail" class="mini-textbox" name="eMail" id="Control_eMail" vtype="maxLength:30" />
                </div>

                <div class="ablock">
                    <label for="Control_FamilyAddress">家庭住址:</label>
                    <input type="text" value="@Model.FamilyAddress" class="mini-textbox" name="FamilyAddress" id="Control_FamilyAddress" vtype="maxLength:40" />
                </div>

                <div class="ablock">
                    <label for="Control_Postalcode">邮政编码:</label>
                    <input type="text" value="@Model.Postalcode" class="mini-textbox" name="Postalcode" id="Control_Postalcode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_Stature">身高:</label>
                    <input type="text" id="Control_Stature" name="Stature" value="@Model.Stature" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>

                <div class="ablock">
                    <label for="Control_Width">体重:</label>
                    <input type="text" id="Control_Width" name="Width" value="@Model.Width" class="mini-spinner" minvalue="0" maxvalue="1000" decimalplaces="2" />
                </div>


            </fieldset>
            <div class="clear">
            </div>
            <div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
