@model YiQiWorkFlow.Domain.Pc.PcPutinManage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商品入库单编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.PrintArea.js"></script>
    <style type="text/css">
        .item {
            padding: 5px 10px;
            float: left;
        }

            .item:after {
                display: block;
                clear: both;
            }

        .label {
            float: left;
            text-align: right;
        }

        .text {
            float: left;
            text-align: left;
            border-bottom: solid 1px #AAA;
        }

        .clear {
            clear: both;
        }

        em.correct:after {
            display: inline-block;
            content: 'V';
            color: #0F0;
            font-style: normal;
            font-family: sans-serif;
        }

        em.incorrect:after {
            display: inline-block;
            content: 'X';
            color: #F00;
            font-style: normal;
            font-family: sans-serif;
        }

        html, body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .main h1 {
            color: #000;
            text-align: center;
        }
    </style>
    <script type="text/javascript"> var pageTitle = "商品入库单"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:54"; var id = "@Model.Id"; pageName = "PcPutinManageEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            //var form = new mini.Form("#formMain"); // default form
            //var o = form.getData();
            var o = {};
            var pcs = [];
            var data = mini.get("datagrid1").data;
            pcs = mini.encode(data);
            o["pcs"] = pcs;
            $.ajax({
                url: "/Pc/SavePcPutinBatchManage",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        //closeWithNoValidate();
                        try { history.go(-1); } catch (e) { }
                    } else {
                        alert(r.Message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_PcPutinManage .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_PcPutinManage").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
        function rowclick(e) {
            $.getJSON("/Pc/SearchPcPurchaseDetailList?PcNumber=" + e.record.Id, function (j) {
                $("#tr").tmpl(j).appendTo("#table1");
            })
        }
        function print() {
            $("#printArea").printArea();
        }
        $(document).ready(function () {
            mini.parse();
            var grid = mini.get("datagrid1");
            grid.load();

            $("#btnPrint").click(function () {
                $("#printArea").printArea();
            });
        });
    </script>
    <script id="tr" type="text/x-jquery-tmpl">
        {{each data}}
            <tr>
                <td>${GoodsCode}
                </td>
                <td>${GoodsBarCode}
                </td>
                <td>商品名称
                </td>
                <td>${Specification}
                </td>
                <td>${PackUnitCode}
                </td>
                <td>${StockQty}
                </td>
                <td>${PackQty}
                </td>
                <td>${PackCoef}
                </td>
                <td>${PutinQty}
                </td>
                <td>${PurchasePrice}
                </td>
                <td>${SalePrice}
                </td>
                <td>${PurchaseMoney}
                </td>
                <td>${NontaxPurchaseMoney}
                </td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="17">总数：${total}
            </td>
        </tr>
    </script>
</head>
<body>
    <div class="mini-toolbar">
    <table style="width:100%">
        <tr>
            <td>
                <a class="mini-button" plain="true" onclick="SaveData()" iconCls="icon-upload">入库</a>
                <a class="mini-button" plain="true" onclick="print()"  iconCls="icon-print">打印</a>
                <a class="mini-button" plain="true" id="btnClosePage" iconCls="icon-cancel">退出</a>
            </td>
            <td width="60">
                 
            </td>
        </tr>
    </table>
</div>
    <div class="container mini-fit">
        <div class="mini-splitter" style="width: 100%; height: 100%">
            <div size="350" showcollapsebutton="true" style="padding: 5px;">
                <div id="datagrid1" class="mini-datagrid" url="/Pc/SearchPcPurchaseManageList?IfExamine=1"
                    style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
                    pagesize="20" multiselect="true" showfilterrow="false" onrowclick="rowclick">
                    <div property="columns">
                        <div type="indexcolumn" width="30">
                        </div>
                        <div type="checkcolumn" width="30">
                        </div>
                        <div field="Id" headeralign="center" align="center" width="150">
                            采购单号
                        </div>
                        <div field="SupName" headeralign="center" align="center" width="100">
                            供货商名称
                        </div>
                    </div>

                </div>
            </div>
            <div showcollapsebutton="true">
                <div id="printArea" class="main" style="width: 21cm; margin: 0 auto; font-size: 12px;">
                    <h1 style="text-align:center;color:#000;  padding:10px;">商品验收入库单</h1>
                    <table style="width:100%; font-size:12px; margin:10px 0;">
                        <tr>
                            <td>姓名：张三</td>
                            <td>姓名：张三</td>
                            <td>姓名：张三</td>
                        </tr>
                    </table>
                    <table id="table1" bordercolor="#000" style="border: solid 1px #000; border-collapse: collapse; width: 100%; margin: 0 auto;font-size:12px;"
                        border="1">
                        <thead>
                            <tr>
                                <th>商品编码
                                </th>
                                <th>商品销售码
                                </th>
                                <th>商品名称
                                </th>
                                <th>规格
                                </th>
                                <th>单位
                                </th>
                                <th>单品数量
                                </th>
                                <th>整件数量
                                </th>
                                <th>系数
                                </th>
                                <th>验收数量
                                </th>
                                <th>含税进价
                                </th>
                                <th>销售价
                                </th>
                                <th>含税金额
                                </th>
                                <th>售价金额
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <table style="width:100%; font-size:12px; margin:10px 0;">
                        <tr>
                            <td style="width:33%"></td>
                            <td style="width:33%"></td>
                            <td style="width:33%">操作人：张三</td>
                        </tr>
                        <tr>
                            <td style="width:33%"></td>
                            <td style="width:33%"></td>
                            <td style="width:33%">操作时间：2014年3月18日 21:21:48</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
<form id="formMain" method="post" action="" style="display:none">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock" style="display:none">
                <label for="Control_PiFlowNumber">流水单号:</label>
                <input id="Control_PiFlowNumber" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

            <div class="ablock" style="display:none">
                <label for="Control_PiNumber">入库单号:</label>
                <input id="Control_PiNumber" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

            <div class="ablock">
                <label for="Control_SupCode">供货商编码:</label>
                <input type="text"  value="@Model.SupCode" class="mini-textbox" name="SupCode" id="Control_SupCode" vtype="maxLength:20"required="true" />
            </div>

            <div class="ablock">
                <label for="Control_EnCode">企业编码:</label>
                <input type="text"  value="@Model.EnCode" class="mini-textbox" name="EnCode" id="Control_EnCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PcForm">采购形式:</label>
                <input type="text"  value="@Model.PcForm" class="mini-textbox" name="PcForm" id="Control_PcForm" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_dCode">部门编码:</label>
                <input type="text"  value="@Model.dCode" class="mini-textbox" name="dCode" id="Control_dCode" vtype="maxLength:50"required="true" />
            </div>

            <div class="ablock">
                <label for="Control_bCode">门店编码:</label>
                <input type="text"  value="@Model.bCode" class="mini-textbox" name="bCode" id="Control_bCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PcType">采购类型:</label>
                <input type="text"  value="@Model.PcType" class="mini-textbox" name="PcType" id="Control_PcType" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PcMode">采购方式:</label>
                <input type="text"  value="@Model.PcMode" class="mini-textbox" name="PcMode" id="Control_PcMode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_WhCode">仓库编码:</label>
                <input type="text"  value="@Model.WhCode" class="mini-textbox" name="WhCode" id="Control_WhCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PurchaseDate">采购日期:</label>
                <input type="text" id="Control_PurchaseDate" name="PurchaseDate"  value="@Model.PurchaseDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_ExpectArriveDate">预计到货日期:</label>
                <input type="text" id="Control_ExpectArriveDate" name="ExpectArriveDate"  value="@Model.ExpectArriveDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_CheckDate">验收日期:</label>
                <input type="text" id="Control_CheckDate" name="CheckDate"  value="@Model.CheckDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_PutinDate">入库日期:</label>
                <input type="text" id="Control_PutinDate" name="PutinDate"  value="@Model.PutinDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_PutinMoney">入库金额:</label>
                <input type="text" id="Control_PutinMoney" name="PutinMoney"  value="@Model.PutinMoney" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_IfAblebalance">是否允许结算:</label>
                <div id="Control_IfAblebalance" name="IfAblebalance" value="1" class="mini-checkbox" checked="true" readOnly="false" text="允许结算"></div>
            </div>

            <div class="ablock">
                <label for="Control_IfBalance">是否结算:</label>
                <div id="Control_IfBalance" name="IfBalance" value="1" class="mini-checkbox" checked="true" readOnly="false" text="结算"></div>
            </div>

            <div class="ablock">
                <label for="Control_BaNumber">结算单号:</label>
                <input type="text"  value="@Model.BaNumber" class="mini-textbox" name="BaNumber" id="Control_BaNumber" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_BaMoney">结算金额:</label>
                <input type="text" id="Control_BaMoney" name="BaMoney"  value="@Model.BaMoney" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_CreateDate">创建时间:</label>
                <input type="text" id="Control_CreateDate" name="CreateDate"  value="@Model.CreateDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_Operator">操作员:</label>
                <input type="text"  value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_Assessor">审核人:</label>
                <input type="text"  value="@Model.Assessor" class="mini-textbox" name="Assessor" id="Control_Assessor" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_IfExamine">是否审核:</label>
                <div id="Control_IfExamine" name="IfExamine" value="1" class="mini-checkbox" checked="true" readOnly="false" text="审核"></div>
            </div>

            <div class="ablock">
                <label for="Control_ExamineDate">审核时间:</label>
                <input type="text" id="Control_ExamineDate" name="ExamineDate"  value="@Model.ExamineDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_OperatorDate">操作时间:</label>
                <input type="text" id="Control_OperatorDate" name="OperatorDate"  value="@Model.OperatorDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        </form>
</body>
</html>

