@{
    ViewBag.Title = "采购管理";
    Layout = "~/Views/Shared/_WindowLayoutView.cshtml";
}

@model TEWorkFlow.Domain.Business.PcPurchaseManage
@section script
{
    <script type="text/javascript" src="~/Scripts/jquery.PrintArea.js"></script>
    <script type="text/javascript">
        mini.parse();
        labelModel(new mini.Form("form1"));
        var grid = mini.get('datagrid1');
        grid.url = "/Business/GetPurchaseDetailList/" + entityId;
        grid.reload();


        function newRow() {
            if (grid.isEditing()) {
                if (grid.isEditingRow(grid.getRow(0)) && grid.getRow(0)._state == "added") {
                    return;
                }
                grid.cancelEdit();
            }
            var row = {};
            grid.addRow(row, 0);

            grid.cancelEdit();
            grid.beginEditRow(row);
        }
        function editRow(row_uid) {
            if (grid.isEditing()) {
                if (grid.isEditingRow(grid.getRow(0)) && grid.getRow(0)._state == "added") {
                    //grid.removeRow(grid.getRow(0));
                    return;
                }
                grid.cancelEdit();
            }
            var row = grid.getRowByUID(row_uid);
            if (row) {
                grid.cancelEdit();
                grid.beginEditRow(row);
            }
        }
        function cancelRow(row_uid) {
            grid.reload();
        }
        function delRow(row_uid) {
            var row = grid.getRowByUID(row_uid);
            if (row) {
                if (confirm("确定删除此记录？")) {
                    grid.loading("删除中，请稍后......");
                    $.ajax({
                        url: "/Business/DeletePurchaseDetail/" + row.Id,
                        success: function (text) {
                            grid.reload();
                        },
                        error: function () {
                        }
                    });
                }
            }
        }

        function updateRow(row_uid) {
            var row = grid.getRowByUID(row_uid);
            if (grid.isValid() == false) {
                return false;
            }
            grid.commitEdit();
            var rowData = grid.getChanges()[0];
            if (!rowData) {
                //没有改动
                return;
            }
            if (!rowData.GoodsCode) {
                alert("没有选择产品");
                grid.reload();
                return;
            }
            grid.loading("保存中，请稍后......");
            var json = mini.encode(rowData);

            $.ajax({
                url: "/Business/SaveGoodsToPurchase/" + entityId,
                data: { "data": json },
                type: "post",
                success: function (text) {
                    grid.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                }
            });

        }
        var issaving = false;
        function SaveData() {

            var form = new mini.Form("form1");
            var o = form.getData(true);
            labelModel(form);
            form.validate();
            if (form.isValid() == false) return;

            var json = mini.encode([o]);
            issaving = true;
            $.ajax({
                type: "post",
                url: "/Business/SavePurchase",
                data: o,
                cache: false,
                success: function (text) {
                    issaving = false;
                    CloseWindow("save");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText + "err");
                    issaving = false;
                    CloseWindow();
                }
            });
        }
        function onSupCodeValueChanged(e) {
            var item = e.selected;
            if (item) {
                mini.get("EnCode").setValue(item.Id);
            }
        }

        function onDCodeButtonEdit(e) {
            var btnEdit = this;
            mini.open({
                url: "/Account/DepartmentSelectTree",
                showMaxButton: false,
                title: "选择部门",
                width: 350,
                height: 350,
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);
                        if (data) {
                            btnEdit.setValue(data.id);
                            btnEdit.setText(data.id + "(" + data.text + ")");
                        }
                    }
                }
            });
        }

        function onGoodsCodeButtonEdit(e) {
            var btnEdit = this;
            mini.open({
                url: "/Archives/GoodsSelectWindow",
                showMaxButton: false,
                title: "选择商品",
                width: 400,
                height: 350,
                ondestroy: function (action) {
                    if (action == "ok") {
                        var iframe = this.getIFrameEl();
                        var data = iframe.contentWindow.GetData();
                        data = mini.clone(data);
                        if (data) {
                            btnEdit.setValue(data.Id);
                            btnEdit.setText(data.GoodsName);
                        }
                    }
                }
            });
        }
        function onBoolRenderer(e) {
            if (e.value == "true") return "是";
            else return "否";
        }
        
    </script>
}
<style type="text/css">
table.edittable tr td {
    padding: 1px;
    border: solid 1px #000;
}
.mini-grid-cell, .mini-grid-headerCell, .mini-grid-filterCell, .mini-grid-summaryCell {
border-right: #000 1px solid;
border-bottom: #000 1px solid;
}
.mini-grid-border
{
    border-color:#000;
}
.mini-grid-headerCell {
color: #000;
font: bold 13px/15px helvetica,arial,verdana,sans-serif;
}
</style>
<h1 style="text-align:center">销售单
<img src="http://chart.googleapis.com/chart?cht=qr&chs=30x30&choe=UTF-8&chld=L|4&chl=@Model.Id" id="qr" style="display:none;float:right;" />
</h1>

<table class="edittable" border="1" cellpadding="0" cellspacing="0" style="width:95%; border: solid 1px #9f9f9f; border-collapse:collapse;">
    <tr>
        <td style="width:80px">
            采购单号:
        </td>
        <td align="left">
            @Model.Id
        </td>
        <td style="width:80px">
            供货商:
        </td>
        <td align="left">
            @Model.SupCode
        </td>
        <td style="width:80px">
            采购形式:
        </td>
        <td align="left">
            @Model.PcForm
        </td>
    </tr>
    <tr>
        <td>
            门店:
        </td>
        <td align="left">
            @Model.bName
        </td>
        <td>
            采购类型:
        </td>
        <td align="left">
            @Model.PcType
        </td>
        <td>
            采购日期:
        </td>
        <td align="left">
             @(Model.PurchaseDate == null ? "" : Model.PurchaseDate.Value.ToString("yyyy-MM-dd"))
        </td>
    </tr>
</table>
<div id="datagrid1" class="mini-datagrid" style="width: 95%; border: solid 1px #9f9f9f; border-collapse:collapse;" idfield="Id"
    emptytext="数据为空，<a href='javascript:newRow()'>增加一条</a>" showemptytext="true"
    showpager="false" showSummaryRow="true" autoheight="true">
    <div property="columns">
        <div type="indexcolumn" ></div>
        <div field="GoodsName" headeralign="center">
            产品名称
        </div>
        
        <div field="Specification" width="40" headeralign="center"  headeralign="center" align="center">
            规格
        </div>
        <div field="PurchaseQty" width="40"  headeralign="center" align="center" allowsort="true"  summaryType="sum">
            数量
            <input property="editor" class="mini-spinner" style="width: 100%;" required="true"
                minvalue="1" maxvalue="5000" />
        </div>
        <div field="PurchasePrice" width="50" headeralign="center" align="center" allowsort="true"
             currencyunit="￥">
            单价
        </div>
        <div field="PurchaseMoney" width="60" headeralign="center" align="center" allowsort="true"
            datatype="currency" currencyunit="￥" summaryType="sum">
            金额
        </div>
        <div field="GoodsBarCode"  headeralign="center" align="center" allowsort="true">
            条码
        </div>
    </div>
</div>
