@model YiQiWorkFlow.Domain.Ms.MsAdjustPoints
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>积分调整管理</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "积分调整管理"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:50"; var id = "@Model.Id"; pageName = "MsAdjustPointsEdit"; </script>
    <script type="text/javascript">
        function SaveData() {

            if (mini.get('#Control_IfModifyPw').checked) {

                // 判断是否取消密码
                var flag = false;
                if (mini.get('#Control_OldPassword').getValue() == '' && mini.get('#Control_NewPassword').getValue() == ''){
                    mini.confirm("是否清除当前卡券密码?", "确认", function (action) {
                        if (action == "ok") {
                            if (ValidateData()) {
                                var form = new mini.Form("#formMain"); // default form
                                var o = form.getData(true);
                                $.ajax({
                                    url: "/Ms/SaveMsAdjustPoints",
                                    type: 'post',
                                    data: o,
                                    cache: false,
                                    dataType: "json",
                                    success: function (r) {
                                        if (r.IsSuccess == true) {
                                            location.href = "/Ms/MsAdjustPointsEdit";
                                        } else {
                                            $("#Tooltip_Critical_MsAdjustPoints .content").first().text(r.Message);
                                            $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                                            form.unmask();
                                            $(document).scrollTop(0);
                                        }
                                    },
                                    error: function (jqXHR, textStatus, errorThrown) {
                                        $("#Tooltip_Critical_MsAdjustPoints .content").first().text($(jqXHR.responseText).text().replace(/\n/g, "<br/>"));
                                        $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                                        form.unmask();
                                        $(document).scrollTop(0);
                                    }
                                });
                            }   
                        }
                    });
                }
            }else {
                if (ValidateData()) {
                    var form = new mini.Form("#formMain"); // default form
                    var o = form.getData(true);
                    $.ajax({
                        url: "/Ms/SaveMsAdjustPoints",
                        type: 'post',
                        data: o,
                        cache: false,
                        dataType: "json",
                        success: function (r) {
                            if (r.IsSuccess == true) {
                                location.href = "/Ms/MsAdjustPointsEdit";
                            } else {
                                $("#Tooltip_Critical_MsAdjustPoints .content").first().text(r.Message);
                                $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                                form.unmask();
                                $(document).scrollTop(0);
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#Tooltip_Critical_MsAdjustPoints .content").first().text($(jqXHR.responseText).text().replace(/\n/g, "<br/>"));
                            $("#Tooltip_Critical_MsAdjustPoints").show("fast");
                            form.unmask();
                            $(document).scrollTop(0);
                        }
                    });
                }
            }
        }

        function ValidateData() {
            // 验证
            if (mini.get('#Control_IfModifyPw').checked) {
                if (mini.get('#Control_OldPassword').getValue() == '' && mini.get('#Control_NewPassword').getValue() == '')
                {

                }
                // 判断是否取消密码
                else if (mini.get('#Control_OldPassword').getValue() == '' || mini.get('#Control_NewPassword').getValue() == ''){
                    mini.alert("请填写原密码和新密码！");
                    return false;
                }
            }

            if (mini.get('#Control_AdjustPoints').getValue() == '' && mini.get('#Control_AdjustMoney').getValue() == '' && mini.get('#Control_AdjustTimes').getValue() == ''){
                mini.alert("请输入调整信息！");
                return false;
            }

            // 判断剩余金额不能小于0
            if (mini.get('#Control_SurplusMoney').getValue() < 0){
                mini.alert("剩余金额不能小于0！");
                return false;
            }

            // 判断剩余积分不能小于0
            if (mini.get('#Control_SurplusPoints').getValue() < 0){
                mini.alert("剩余积分不能小于0！");
                return false;
            }

            // 判断剩余次数不能小于0
            if (mini.get('#Control_SurplusTimes').getValue() < 0){
                mini.alert("剩余次数不能小于0！");
                return false;
            }

            return true;
        }

        function Add() {
            location.href = "/Ms/MsAdjustPointsEdit";
        }

        function Search() {
            location.href = "/Ms/MsAdjustPointsList";
        }

        $(function () {
            var cardNumber = mini.get('#Control_CardNumber').getValue();

            // 老会员,清空数据,右侧无法编辑 赋值
            //mini.get('Control_MsCode').disable();
            mini.get('Control_MsName').disable();
            mini.get('Control_Birthday').disable();
            mini.get('Control_Sex').disable();
            mini.get('Control_PoliticsCode').disable();
            mini.get('Control_NationCode').disable();
            mini.get('Control_EducationCode').disable();
            mini.get('Control_ProfessionalTitleCode').disable();
            mini.get('Control_IfMarried').disable();
            mini.get('Control_NativePlace').disable();
            mini.get('Control_Idcard').disable();
            mini.get('Control_FamilyPhone').disable();
            mini.get('Control_Handset').disable();
            mini.get('Control_eMail').disable();
            mini.get('Control_FamilyAddress').disable();
            mini.get('Control_Postalcode').disable();
            mini.get('Control_Stature').disable();
            mini.get('Control_Width').disable();

            if (cardNumber) {
                // 编辑页面 保存不可用只可以审核
                //$('#btnFormSubmit').attr('disabled', "true");
                $('#btnFormSubmit').hide();
                //$('#btnFormReset').attr('disabled', "true");
                
                //mini.get('Control_MsCode').setValue('');
                mini.get('Control_MsName').setValue('');
                mini.get('Control_Birthday').setValue('');
                mini.get('Control_Sex').setValue('');
                mini.get('Control_PoliticsCode').setValue('');
                mini.get('Control_NationCode').setValue('');
                mini.get('Control_EducationCode').setValue('');
                mini.get('Control_ProfessionalTitleCode').setValue('');
                mini.get('Control_IfMarried').setValue('');
                mini.get('Control_NativePlace').setValue('');
                mini.get('Control_Idcard').setValue('');
                mini.get('Control_FamilyPhone').setValue('');
                mini.get('Control_Handset').setValue('');
                mini.get('Control_eMail').setValue('');
                mini.get('Control_FamilyAddress').setValue('');
                mini.get('Control_Postalcode').setValue('');
                mini.get('Control_Stature').setValue('');
                mini.get('Control_Width').setValue('');
                @{
                    if (!string.IsNullOrEmpty(@Model.MsCode)) {
                        @: bindMember(@Model.MsCode);
                    }
                }
            }else {
                $('#btnFormSubmit').show();
            }
        });

        function onCardNumberChanged() {
            // 获取卡号
            var cardNumber = mini.get('Control_CardNumber').getValue();
            var url = "/Ms/GetMsCardArchivesListAllEqual?pageSize=1&CardState=1&Id=" + cardNumber;

            // 查询
            $.ajax({
                url: url,
                type: 'post',

                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r && r.length > 0) {
                       
                        // 赋值卡信息(卡号、卡状态、卡类型信息(卡类型编码、卡类型名称)、生效日期、积分有效期、卡有效期、办卡费用、押金金额)
                        mini.get('#Control_CardNumber').setValue(r[0].Id);
                        mini.get('#Control_CardNumber').setText(r[0].Id);
                        mini.get('#Control_SurfaceNumber').setValue(r[0].SurfaceNumber);
                        mini.get('#Control_SurfaceNumber').setText(r[0].SurfaceNumber);
                        //mini.get('#Control_CardState').setValue(r[0].CardState);
                        mini.get('#Control_CardCode').setValue(r[0].CardCode);
                        mini.get('#Control_CardName').setValue(r[0].CardName);
                        mini.get('#Control_CurrentPoints').setValue(r[0].CurrentPoints);
                        mini.get('#Control_CurrentMoney').setValue(r[0].CurrentPrepaid);
                        mini.get('#Control_CurrentTimes').setValue(r[0].LimitTimes);
                        //mini.get('#Control_CardUsefulLifeDate').setValue(r[0].CardUsefulLifeDate);
                        //mini.get('#Control_TransactCharge').setValue(r[0].TransactCharge);
                        //mini.get('#Control_DepositMoney').setValue(r[0].DepositMoney);
                        mini.get('#Control_MsCode').setValue(r[0].MsCode);
                        //mini.get('#Control_MsCode').setText(r[0].MsCode);
                        bindMember(r[0].MsCode);
                    } else {
                        //mini.alert('卡号不存在或者不能发放');
                        mini.get('#Control_CardNumber').setValue('');
                        mini.get('#Control_CardNumber').setText('');
                        mini.get('#Control_SurfaceNumber').setValue('');
                        mini.get('#Control_SurfaceNumber').setText('');
                        //mini.get('#Control_CardState').setValue('');
                        mini.get('#Control_CardCode').setValue('');
                        mini.get('#Control_CardName').setValue('');
                        mini.get('#Control_CurrentPoints').setValue('');
                        mini.get('#Control_CurrentMoney').setValue('');
                        mini.get('#Control_CurrentTimes').setValue('');
                        //mini.get('#Control_CardUsefulLifeDate').setValue('');
                        //mini.get('#Control_TransactCharge').setValue('');
                        //mini.get('#Control_DepositMoney').setValue('');
                        
                        mini.get('#Control_MsCode').setValue('');
                        //mini.get('#Control_MsCode').setText('');
                        bindMember('');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsLossCardManage .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsLossCardManage").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }

        function onSurfaceNumberChanged() {
            // 获取卡明码
            var surfaceNumber = mini.get('Control_SurfaceNumber').getValue();
            var url = "/Ms/GetMsCardArchivesListAllEqual?pageSize=1&CardState=1&SurfaceNumber=" + surfaceNumber;

            // 查询
            $.ajax({
                url: url,
                type: 'post',

                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r && r.length > 0) {

                        // 赋值卡信息(卡号、卡状态、卡类型信息(卡类型编码、卡类型名称)、生效日期、积分有效期、卡有效期、办卡费用、押金金额)
                        mini.get('#Control_CardNumber').setValue(r[0].Id);
                        mini.get('#Control_CardNumber').setText(r[0].Id);
                        mini.get('#Control_SurfaceNumber').setValue(r[0].SurfaceNumber);
                        mini.get('#Control_SurfaceNumber').setText(r[0].SurfaceNumber);
                        //mini.get('#Control_CardState').setValue(r[0].CardState);
                        mini.get('#Control_CardCode').setValue(r[0].CardCode);
                        mini.get('#Control_CardName').setValue(r[0].CardName);
                        mini.get('#Control_CurrentPoints').setValue(r[0].CurrentPoints);
                        mini.get('#Control_CurrentMoney').setValue(r[0].CurrentPrepaid);
                        mini.get('#Control_CurrentTimes').setValue(r[0].LimitTimes);
                        //mini.get('#Control_CardUsefulLifeDate').setValue(r[0].CardUsefulLifeDate);
                        //mini.get('#Control_TransactCharge').setValue(r[0].TransactCharge);
                        //mini.get('#Control_DepositMoney').setValue(r[0].DepositMoney);
                        
                        mini.get('#Control_MsCode').setValue(r[0].MsCode);
                        //mini.get('#Control_MsCode').setText(r[0].MsCode);
                        bindMember(r[0].MsCode);
                    } else {
                        // 提示
                        debugger;
                        //mini.get('#Control_CardState').setValue('');
                        mini.get('#Control_CardCode').setValue('');
                        mini.get('#Control_CardName').setValue('');
                        mini.get('#Control_CurrentPoints').setValue('');
                        mini.get('#Control_CurrentMoney').setValue('');
                        mini.get('#Control_CurrentTimes').setValue('');
                        //mini.get('#Control_CardUsefulLifeDate').setValue('');
                        //mini.get('#Control_TransactCharge').setValue('');
                        //mini.get('#Control_DepositMoney').setValue('');
                        
                        mini.get('#Control_MsCode').setValue('');
                        //mini.get('#Control_MsCode').setText('');
                        bindMember('');
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_MsLossCardManage .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_MsLossCardManage").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }

        function onAdjustPointsChanged(){
            // 获取当前积分
            var currentPoints = mini.get('#Control_CurrentPoints').getValue();

            // 获取调整积分
            var adjustPoints = mini.get('#Control_AdjustPoints').getValue();

            var surplusPoints = currentPoints + adjustPoints;

            mini.get('#Control_SurplusPoints').setValue(surplusPoints);
        }

        function onAdjustMoneyChanged(){
            // 获取当前金额
            var currentMoney = mini.get('#Control_CurrentMoney').getValue();

            // 获取调整金额
            var adjustMoney = mini.get('#Control_AdjustMoney').getValue();

            var surplusMoney = currentMoney + adjustMoney;

            mini.get('#Control_SurplusMoney').setValue(surplusMoney);
        }

        function onModifyPwCheckChanged(){
            var check = mini.get('#Control_IfModifyPw');
            if (check.checked){
                mini.get('#Control_OldPassword').enable();
                mini.get('#Control_NewPassword').enable();
            }else {
                mini.get('#Control_OldPassword').disable();
                mini.get('#Control_NewPassword').disable();
            }
        }

        function onAdjustTimesChanged(){
            // 获取当前次数
            var currentTimes = mini.get('#Control_CurrentTimes').getValue();

            // 获取调整次数
            var adjustTimes = mini.get('#Control_AdjustTimes').getValue();

            var surplusTimes = currentTimes + adjustTimes;

            mini.get('#Control_SurplusTimes').setValue(surplusTimes);
        }

    </script>
</head>
<body>
    <div class="container">
        <div id="toolbar1" class="mini-toolbar" style="padding: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a id="btnAdd" iconcls="icon-add" class="mini-button" plain="true" tooltip="增加">增加</a>
                        <a id="btnFormSubmit" iconcls="icon-save" class="mini-button" plain="true" tooltip="保存(Ctrl+S)">保存</a>
                        <a id="btnSearch" iconcls="icon-search" class="mini-button" plain="true" tooltip="查询">查询</a>
                        <a id="btnPrint" iconcls="icon-print" class="mini-button" plain="true" tooltip="打印">打印</a>
                        <a id="btnGoBack" iconcls="icon-undo" class="mini-button" plain="true" tooltip="返回(Ctrl+Q)">返回</a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- <h1>积分调整管理编辑
        </h1>-->
        <div class="tooltip warning hidden" id="Tooltip_Warning_MsAdjustPoints">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_MsAdjustPoints">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_MsAdjustPoints">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_MsAdjustPoints">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于积分调整管理编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <input id="ManageType" name="ManageType" class="mini-hidden" type="hidden" value="0" />
            <div id="content" class="mini-splitter" style="width: 100%; height: 800px;">
                <div size="350px" showcollapsebutton="true" style="padding: 5px;">
                    <fieldset>
                        <legend>基本信息</legend>
                        <div class="ablock">
                            <label for="Control_NumberFlow">流水号:</label>
                            <input id="Control_NumberFlow" name="NumberFlow" value="@Model.Id" type="text" class="mini-textbox" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_AdjustDate">调整日期:</label>
                            <input type="text" id="Control_AdjustDate" name="AdjustDate" value="@Model.AdjustDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CardNumber">卡号:</label>

                            <div id="Control_CardNumber" name="CardNumber" class="mini-autocomplete" popupwidth="400" textfield="Id" valuefield="Id"
                                url="/Ms/GetMsCardArchivesList?CardState=1" value="@Model.CardNumber" text="@Model.CardNumber" vtype="int" onvaluechanged="onCardNumberChanged" required="true">
                                <div property="columns">
                                    <div header="卡号" field="Id"></div>
                                    <div header="卡面明码" field="SurfaceNumber" width="30"></div>
                                </div>
                            </div>
                        </div>

                        <div class="ablock">
                            <label for="Control_SurfaceNumber">卡面明码:</label>

                            <div id="Control_SurfaceNumber" name="SurfaceNumber" class="mini-autocomplete" popupwidth="400" textfield="SurfaceNumber" valuefield="SurfaceNumber"
                                url="/Ms/GetMsCardArchivesList?CardState=1" value="@Model.SurfaceNumber" text="@Model.SurfaceNumber" vtype="int" onvaluechanged="onSurfaceNumberChanged" required="true">
                                <div property="columns">
                                    <div header="卡面明码" field="SurfaceNumber" width="30"></div>
                                    <div header="卡号" field="Id"></div>
                                </div>
                            </div>
                        </div>

                        <div class="ablock">
                            <label for="Control_MsCode">会员编码:</label>

                            <input type="text" value="@Model.MsCode" class="mini-textbox" name="MsCode" id="Control_MsCode" vtype="maxLength:20" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CardCode">卡类型编码:</label>

                            <input type="text" value="@Model.CardCode" class="mini-textbox" name="CardCode" id="Control_CardCode" vtype="maxLength:20" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CardName">卡类型名称:</label>
                            <input type="text" value="@Model.CardName" class="mini-textbox" name="CardName" id="Control_CardName" vtype="maxLength:20" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CurrentPoints">当前积分:</label>
                            <input type="text" id="Control_CurrentPoints" name="CurrentPoints" value="@Model.CurrentPoints" class="mini-spinner" minvalue="0" maxvalue="999999999" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_AdjustPoints">调整积分:</label>
                            <input type="text" id="Control_AdjustPoints" name="AdjustPoints" value="@Model.AdjustPoints" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" onvaluechanged="onAdjustPointsChanged" />
                        </div>

                        <div class="ablock">
                            <label for="Control_SurplusPoints">剩余积分:</label>
                            <input type="text" id="Control_SurplusPoints" name="SurplusPoints" value="@Model.SurplusPoints" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CurrentMoney">当前金额:</label>
                            <input type="text" id="Control_CurrentMoney" name="CurrentMoney" value="@Model.CurrentMoney" class="mini-spinner" minvalue="0" maxvalue="999999999" decimalplaces="2" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_AdjustMoney">调整金额:</label>
                            <input type="text" id="Control_AdjustMoney" name="AdjustMoney" value="@Model.AdjustMoney" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" decimalplaces="2" onvaluechanged="onAdjustMoneyChanged" />
                        </div>

                        <div class="ablock">
                            <label for="Control_SurplusMoney">剩余金额:</label>
                            <input type="text" id="Control_SurplusMoney" name="SurplusMoney" value="@Model.SurplusMoney" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" decimalplaces="2" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_CurrentTimes">当前次数:</label>
                            <input type="text" id="Control_CurrentTimes" name="CurrentTimes" value="@Model.CurrentTimes" class="mini-spinner" minvalue="0" maxvalue="999999999" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_AdjustTimes">调整次数:</label>
                            <input type="text" id="Control_AdjustTimes" name="AdjustTimes" value="@Model.AdjustTimes" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" onvaluechanged="onAdjustTimesChanged" />
                        </div>

                        <div class="ablock">
                            <label for="Control_SurplusTimes">剩余次数:</label>
                            <input type="text" id="Control_SurplusTimes" name="SurplusTimes" value="@Model.SurplusTimes" class="mini-spinner" minvalue="-999999999" maxvalue="999999999" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_IfModifyPw">是否修改密码:</label>
                            <div id="Control_IfModifyPw" name="IfModifyPw" value="0" class="mini-checkbox" truevalue="1" falsevalue="0" text="修改密码" oncheckedchanged="onModifyPwCheckChanged"></div>
                        </div>

                        <div class="ablock">
                            <label for="Control_OldPassword">原密码:</label>
                            <input type="text" class="mini-password" name="OldPassword" id="Control_OldPassword" vtype="int;rangeLength:6,6;" minlengtherrortext="密码为六位数字" maxlengtherrortext="密码为六位数字" interrortext="密码为六位数字" enabled="false" />
                        </div>

                        <div class="ablock">
                            <label for="Control_NewPassword">新密码:</label>
                            <input type="text" class="mini-password" name="NewPassword" id="Control_NewPassword" vtype="int;rangeLength:6,6;" minlengtherrortext="密码为六位数字" maxlengtherrortext="密码为六位数字" interrortext="密码为六位数字" enabled="false" />
                        </div>

                        <div class="ablock hidden">
                            <label for="Control_Operator">操作员:</label>
                            <input type="text" value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                        </div>

                        <div class="ablock hidden">
                            <label for="Control_OperatorDate">操作时间:</label>
                            <input type="text" id="Control_OperatorDate" name="OperatorDate" value="@Model.OperatorDate" class="mini-datepicker" format="yyyy-MM-dd H:mm:ss" timeformat="H:mm:ss" showtime="true" showokbutton="true" showclearbutton="true" required="false" />
                        </div>

                    </fieldset>
                </div>
                <div showcollapsebutton="true">
                    <fieldset>

                        <legend>会员信息</legend>

                        @Html.Partial("UCMemberArchives")
                    </fieldset>
                </div>
                <div class="clear">
                </div>
                <!--<div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>-->
        </form>
    </div>
</body>
</html>
