@model YiQiWorkFlow.Domain.Sys.SysEnterpriseArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>企业设置编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "企业设置"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:57";var id="@Model.Id";pageName="SysEnterpriseArchivesEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Sys/SaveSysEnterpriseArchives",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_SysEnterpriseArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_SysEnterpriseArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_SysEnterpriseArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_SysEnterpriseArchives").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            企业设置编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_SysEnterpriseArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于企业设置编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_SysEnterpriseArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于企业设置编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_SysEnterpriseArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于企业设置编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_SysEnterpriseArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于企业设置编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock">
                <label for="Control_EnCode">企业编码:</label>
                <input type="text"  value="@Model.EnCode" class="mini-textbox" name="EnCode" id="Control_EnCode" vtype="maxLength:20" readonly="readonly" />
            </div>

            <div class="ablock">
                <label for="Control_EnName">企业名称:</label>
                <input type="text"  value="@Model.EnName" class="mini-textbox" name="EnName" id="Control_EnName" vtype="maxLength:50" required="true" />
            </div>

            <div class="ablock">
                <label for="Control_EnComName">企业简称:</label>
                <input type="text"  value="@Model.EnComName" class="mini-textbox" name="EnComName" id="Control_EnComName" vtype="maxLength:50" />
            </div>

            <div class="ablock">
                <label for="Control_EnType">企业类型:</label>
                <input type="text"  value="@Model.EnType" class="mini-textbox" name="EnType" id="Control_EnType" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_EnCharacter">企业性质:</label>
                <input type="text"  value="@Model.EnCharacter" class="mini-combobox" name="EnCharacter" id="Control_EnCharacter" data="c_EnCharacter" vtype="maxLength:50" required="true" />
            </div>

            <div class="ablock">
                <label for="Control_DealArea">经营面积:</label>
                <input type="text" id="Control_DealArea" name="DealArea"  value="@Model.DealArea" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_RegisterAddress">注册地址:</label>
                <input type="text"  value="@Model.RegisterAddress" class="mini-textbox" name="RegisterAddress" id="Control_RegisterAddress" vtype="maxLength:50" />
            </div>

            <div class="ablock">
                <label for="Control_CurrentVersion">系统版本:</label>
                <input type="text"  value="@Model.CurrentVersion" class="mini-textbox" name="CurrentVersion" id="Control_CurrentVersion" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_LastVersion">最后更新版本:</label>
                <input type="text"  value="@Model.LastVersion" class="mini-textbox" name="LastVersion" id="Control_LastVersion" vtype="maxLength:20" readonly="readonly" />
            </div>

            <div class="ablock" style="display:none">
                <label for="Control_Id">:</label>
                <input id="Control_Id" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

