@model YiQiWorkFlow.Domain.Rt.RtPresentPromotionGoods
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>馈赠促销商品明细编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "馈赠促销商品明细"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/13 20:26:56";var id="@Model.Id";pageName="RtPresentPromotionGoodsEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Rt/SaveRtPresentPromotionGoods",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_RtPresentPromotionGoods .content").first().text(r.Message);
                        $("#Tooltip_Critical_RtPresentPromotionGoods").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_RtPresentPromotionGoods .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_RtPresentPromotionGoods").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            馈赠促销商品明细编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_RtPresentPromotionGoods">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于馈赠促销商品明细编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_RtPresentPromotionGoods">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于馈赠促销商品明细编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_RtPresentPromotionGoods">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于馈赠促销商品明细编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_RtPresentPromotionGoods">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于馈赠促销商品明细编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock">
                <label for="Control_SpNumber">促销单号:</label>
                <input type="text"  value="@Model.SpNumber" class="mini-textbox" name="SpNumber" id="Control_SpNumber" vtype="maxLength:20"required="true" />
            </div>

            <div class="ablock">
                <label for="Control_SpBeginDate">促销开始日期:</label>
                <input type="text"  value="@Model.SpBeginDate" class="mini-textbox" name="SpBeginDate" id="Control_SpBeginDate" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpEndDate">促销终止日期:</label>
                <input type="text"  value="@Model.SpEndDate" class="mini-textbox" name="SpEndDate" id="Control_SpEndDate" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpBeginTime">促销开始时间:</label>
                <input type="text"  value="@Model.SpBeginTime" class="mini-textbox" name="SpBeginTime" id="Control_SpBeginTime" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpEndTime">促销终止时间:</label>
                <input type="text"  value="@Model.SpEndTime" class="mini-textbox" name="SpEndTime" id="Control_SpEndTime" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpW1">星期1:</label>
                <input type="text"  value="@Model.SpW1" class="mini-textbox" name="SpW1" id="Control_SpW1" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW2">星期2:</label>
                <input type="text"  value="@Model.SpW2" class="mini-textbox" name="SpW2" id="Control_SpW2" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW3">星期3:</label>
                <input type="text"  value="@Model.SpW3" class="mini-textbox" name="SpW3" id="Control_SpW3" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW4">星期4:</label>
                <input type="text"  value="@Model.SpW4" class="mini-textbox" name="SpW4" id="Control_SpW4" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW5">星期5:</label>
                <input type="text"  value="@Model.SpW5" class="mini-textbox" name="SpW5" id="Control_SpW5" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW6">星期6:</label>
                <input type="text"  value="@Model.SpW6" class="mini-textbox" name="SpW6" id="Control_SpW6" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_SpW7">星期7:</label>
                <input type="text"  value="@Model.SpW7" class="mini-textbox" name="SpW7" id="Control_SpW7" vtype="maxLength:2" />
            </div>

            <div class="ablock">
                <label for="Control_GoodsBarCode">商品销售码:</label>
                <input type="text"  value="@Model.GoodsBarCode" class="mini-textbox" name="GoodsBarCode" id="Control_GoodsBarCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_GoodsCode">商品编码:</label>
                <input type="text"  value="@Model.GoodsCode" class="mini-textbox" name="GoodsCode" id="Control_GoodsCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SaleQty">销售数量:</label>
                <input type="text" id="Control_SaleQty" name="SaleQty"  value="@Model.SaleQty" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_SalePrice">促销售价:</label>
                <input type="text" id="Control_SalePrice" name="SalePrice"  value="@Model.SalePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_GoodsBarCodePresent">送购商品销售码:</label>
                <input type="text"  value="@Model.GoodsBarCodePresent" class="mini-textbox" name="GoodsBarCodePresent" id="Control_GoodsBarCodePresent" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_GoodsCodePresent">送购商品编码:</label>
                <input type="text"  value="@Model.GoodsCodePresent" class="mini-textbox" name="GoodsCodePresent" id="Control_GoodsCodePresent" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PresentQty">送购数量:</label>
                <input type="text" id="Control_PresentQty" name="PresentQty"  value="@Model.PresentQty" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_PresentMoney">送购金额:</label>
                <input type="text" id="Control_PresentMoney" name="PresentMoney"  value="@Model.PresentMoney" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_SysGuid">系统标识:</label>
                <input type="text"  value="@Model.SysGuid" class="mini-textbox" name="SysGuid" id="Control_SysGuid" vtype="maxLength:60" />
            </div>

            <div class="ablock" style="display:none">
                <label for="Control_Id">:</label>
                <input id="Control_Id" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

