@model YiQiWorkFlow.Domain.Fb.FbAdjustPoolrate
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>调商品扣率编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "调商品扣率"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:45"; var id = "@Model.Id"; pageName = "FbAdjustPoolrateEdit"; var isNew=@Model.IsAdded.ToS().ToLower(); </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();

            var grid = mini.get("datagrid1");
            if (grid.isEditing()) {
                grid.commitEdit();
            }
            var gd = grid.getChanges();
            for (var i = 0; i < gd.length; i++) {
                if (gd[i].GoodsCode == undefined || gd[i].GoodsCode.length == 0) {
                    alert("必须选择调整单商品！");
                    return false;
                }
                if (gd[i].PoolRate == undefined || gd[i].PoolRate.length == 0) {
                    alert("必须设置商品扣率！");
                    return false;
                }
            }
            o["goods"] = mini.encode(grid.getChanges());


            $.ajax({
                url: "/Fb/SaveFbAdjustPoolrate",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        location.href = "/Fb/FbAdjustPoolrateList";
                    } else {
                        $("#Tooltip_Critical_FbAdjustPoolrate .content").first().text(r.Message);
                        $("#Tooltip_Critical_FbAdjustPoolrate").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_FbAdjustPoolrate .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_FbAdjustPoolrate").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
        function onGoodsChanged(e) {
            mini.getbyName("SupCode", "datagrid1").setValue(e.selected.SupCode);
            mini.getbyName("PoolRateOld", "datagrid1").setValue(e.selected.PoolRate);
            mini.getbyName("PoolRate", "datagrid1").focus();
        }
        function addRow(row) {
            var grid = mini.get("datagrid1");
            grid.addRow(row, 0);
        }
        function onrowdblclick(e) {
            var grid = mini.get("datagrid1");
            if (grid.isEditing()) {
                grid.commitEdit();
            }
            grid.beginEditRow(e.row);
            //mini.getbyName("GoodsCode", "datagri1").focus();
            setTimeout(function () {
                $("#datagrid1 input[name=GoodsCode]").parent().find(".mini-buttonedit-input:visible:first").focus();
            }, 500);

        }
        $(function () {
            var grid = mini.get("datagrid1");
            grid.reload();
            jQuery.hotkeys.add('return', function () {
                if (grid.isEditing()) {
                    grid.commitEdit();
                }
                var row = {};
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
            });
            jQuery.hotkeys.add('esc', function () {
                grid.reload();
            });
            jQuery.hotkeys.add('del', function () {
                grid.removeRows(grid.getSelecteds());
            });

            $("#btnExame").click(function () {
                mini.get("Control_IfExamine").setValue("1");
                mini.get("Control_ExamineDate").setValue(new Date());
                SaveData();
            });
            $("#btnDel").click(function () {
                if (isNew == false) {
                    //删除
                    $.ajax({
                        url: "/Fb/FbAdjustPoolrateDelete",
                        data: { ids: id, confirm: "true" },
                        dataType: "json",
                        success: function (r) {
                            closeWithNoValidate();
                        }
                    });
                }
                else {
                    closeWithNoValidate();
                }
            });
            $("#btnGoods").click(function () {
                var btnEdit = this;
                mini.open({
                    url: "/Common/GoodsSelector",
                    title: "选择列表",
                    width: 600,
                    height: 380,
                    ondestroy: function (action) {
                        //if (action == "close") return false;
                        if (action == "ok") {
                            var iframe = this.getIFrameEl();
                            var data = iframe.contentWindow.GetData();
                            data = mini.clone(data);    //必须
                            if (data) {
                                for (var i = 0; i < data.length; i++) {
                                    var row = { GoodsCode: data[i].Id, SupCode: data[i].SupCode, PoolRateOld: data[i].PoolRate };
                                    addRow(row);
                                }
                            }
                        }

                    }
                });
            });
            $("#btnQuery").click(function () {
                location.href = "/Fb/FbAdjustPoolrateList";
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>调商品扣率编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_FbAdjustPoolrate">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于调商品扣率编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_FbAdjustPoolrate">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于调商品扣率编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_FbAdjustPoolrate">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于调商品扣率编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_FbAdjustPoolrate">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于调商品扣率编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock">
                    <label for="Control_AdjustNumber">调整单号:</label>
                    <input id="Control_AdjustNumber" value="@Model.Id" name="Id" class="mini-textbox" enabled="false"/>
                </div>

                <div class="ablock">
                    <label for="Control_AdjustDate">调整日期:</label>
                    <input type="text" id="Control_AdjustDate" name="AdjustDate"  value="@Model.AdjustDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>

                <div class="ablock colspan2">
                    <label for="Control_AdjustReason">调整原因:</label>
                    <input type="text"  value="@Model.AdjustReason" class="mini-textbox" name="AdjustReason" id="Control_AdjustReason" vtype="maxLength:40" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_CreateDate">创建时间:</label>
                    <input type="text" id="Control_CreateDate" name="CreateDate"  value="@Model.CreateDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_Operator">操作员:</label>
                    <input type="text"  value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_Assessor">审核人:</label>
                    <input type="text"  value="@Model.Assessor" class="mini-textbox" name="Assessor" id="Control_Assessor" vtype="maxLength:20" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_IfExamine">是否审核:</label>
                    <div id="Control_IfExamine" name="IfExamine" value="@Model.IfExamine" enabled="false" class="mini-checkbox" trueValue="1" falseValue="0" readonly="false" text="审核"></div>
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_ExamineDate">审核时间:</label>
                    <input type="text" id="Control_ExamineDate" name="ExamineDate" enabled="false" value="@Model.ExamineDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>

                <div class="ablock" style="display: none">
                    <label for="Control_OperatorDate">操作时间:</label>
                    <input type="text" id="Control_OperatorDate" name="OperatorDate"  value="@Model.OperatorDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>


            </fieldset>
            <div id="datagrid1" class="mini-datagrid" url="/Fb/SearchFbAdjustPoolrateGoodsList?OpCode=3&AdjustNumber=@(string.IsNullOrEmpty(Model.Id)?"!##$%":Model.Id)"
            style="width: 100%;height: 300px;margin-top:10px;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
            pagesize="20" multiselect="true" showfilterrow="true" showpager="false" onrowdblclick="onrowdblclick">
            <div property="columns">
                <div type="indexcolumn" width="30">
                </div>
                <div type="checkcolumn" width="30">
                </div>
				<div field="GoodsCode" headeralign="center" align="center" width="60">
				    商品编码
					<input id="filter_GoodsCode" name="GoodsCode" property="editor" class="mini-combobox" allowInput="true" valueField="Id" textField="GoodsName" onvaluechanged="onGoodsChanged" url="/Fb/SearchFbGoodsArchivesListForList" style="width: 100%;" />
				</div>
				<div field="SupCode" headeralign="center" align="center" width="60">
				    供货商编码
					<input id="filter_SupCode" name="SupCode" property="editor" class="mini-textbox" enabled="false" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PoolRateOld" headeralign="center" align="center" width="60">
				    原扣率
					<input id="filter_PoolRateOld" name="PoolRateOld" property="editor" class="mini-spinner" enabled="false" onvaluechanged="search" style="width:100%;" />
				</div>
				<div field="PoolRate" headeralign="center" align="center" width="60">
				    扣率
					<input id="filter_PoolRate" name="PoolRate" property="editor" class="mini-spinner" onvaluechanged="search" style="width:100%;" />
				</div>
            </div>
        </div>
            <div class="clear">
            </div>
            <div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="button" class="myButton" id="btnExame" value="审核(Ctrl+E)" />
                    <input type="button" class="myButton" id="btnQuery" value="查询" />
                    <input type="button" class="myButton" id="btnDel" value="删除" />
                    <input type="button" class="myButton" id="btnGoods" value="商品" />
                    <input type="button" class="myButton" id="btnSubmit" value="提交" />
                    <input type="button" class="myButton" id="btnPrint" value="打印" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

