@model YiQiWorkFlow.Domain.Fb.FbGoodsArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商品档案编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript" src="/Scripts/swfupload/swfupload.js"></script>
    <script type="text/javascript" src="/Scripts/chinese2py.js"></script>
    <script type="text/javascript"> var pageTitle = "商品档案"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:47"; var id = "@Model.Id"; pageName = "FbGoodsArchivesEdit";var isNew=@Model.IsAdded.ToString().ToLower();var canModify=@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.IfChangePurchasePriceInArchives; </script>
    <script type="text/javascript">
        var clearExameAfterSave = true;
        var activeGrid;
        function SaveData() {
            mini.get("Control_OperatorDate").setValue(new Date());
            var grid1 = mini.get("grid1");
            var grid2 = mini.get("grid2");
            var grid3 = mini.get("grid3");
            var grid4 = mini.get("grid4");
            grid1.commitEdit();
            grid2.commitEdit();
            grid3.commitEdit();
            grid4.commitEdit();
            if(grid2.getData().length==0){
                alert("必须设置销售码");
                activeTab(1);
                return false;
            }
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData(true);
            if (clearExameAfterSave == true) {
                o["IfExamine"] = "0";
            }

            o["suppliers"] = mini.encode(grid1.getChanges());
            o["saleCode"] = mini.encode(grid2.getChanges());
            o["binding"] = mini.encode(grid3.getChanges());
            o["images"] = mini.encode(grid4.getChanges());

            $.ajax({
                url: "/Fb/SaveFbGoodsArchives",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        if($("#cloneGoodsInfomation").prop("checked")==true){
                            alert("保存成功！");
                            $.getJSON("/Fb/GenerateGoodsId",function(j){
                                mini.get("Control_GoodsSubCode").setValue(j.GoodsSubCode);
                                onGlValuechanged();
                                var grid1 = mini.get("grid1");
                                var grid2 = mini.get("grid2");
                                var grid3 = mini.get("grid3");
                                var grid4 = mini.get("grid4");
                                grid1.setUrl("/Fb/SearchFbGoodsArchivesSupplierList?GoodsCode="+j.Id);
                                grid2.setUrl("/Fb/SearchFbGoodsArchivesSupplierList?GoodsCode="+j.Id);
                                grid3.setUrl("/Fb/SearchFbGoodsArchivesSupplierList?GoodsCode="+j.Id);
                                grid4.setUrl("/Fb/SearchFbGoodsArchivesSupplierList?GoodsCode="+j.Id);

                                grid1.reload();
                                grid2.reload();
                                grid3.reload();
                                grid4.reload();

                                mini.get("Control_PurchasePrice").setValue(0);
                                mini.get("Control_NontaxPurchasePrice").setValue(0);
                                mini.get("Control_GrossRate").setValue(0);
                                mini.get("Control_PushRate").setValue(0);
                                mini.get("Control_SalePrice").setValue(0);
                                mini.get("Control_VipPrice").setValue(0);
                                mini.get("Control_TradePrice").setValue(0);
                            });
                        }else{
                            closeWithNoValidate();
                        }
                    } else {
                        $("#Tooltip_Critical_FbGoodsArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_FbGoodsArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_FbGoodsArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_FbGoodsArchives").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }
        function onGbValuechanged(e) {
            var gbCombo = mini.get("Control_GbCode");
            var gmCombo = mini.get("Control_GmCode");
            var gsCombo = mini.get("Control_GsCode");
            var glCombo = mini.get("Control_GlCode");

            var gbValue = gbCombo.getValue();
            gmCombo.setValue("");
            gmCombo.setUrl("/Common/GetComboData?table=fb_pa_goods_gm&valueColumn=gm_code&textColumn=gm_name&gb_code=" + gbValue);
            generateId();
        }
        function onGmValuechanged(e) {
            var gbCombo = mini.get("Control_GbCode");
            var gmCombo = mini.get("Control_GmCode");
            var gsCombo = mini.get("Control_GsCode");
            var glCombo = mini.get("Control_GlCode");

            var gmValue = gmCombo.getValue();
            gsCombo.setValue("");
            gsCombo.setUrl("/Common/GetComboData?table=fb_pa_goods_gs&valueColumn=gs_code&textColumn=gs_name&gm_code=" + gmValue);
            generateId();
        }
        function onGsValuechanged(e) {
            var gbCombo = mini.get("Control_GbCode");
            var gmCombo = mini.get("Control_GmCode");
            var gsCombo = mini.get("Control_GsCode");
            var glCombo = mini.get("Control_GlCode");

            var gsValue = gmCombo.getValue();
            glCombo.setValue("");
            glCombo.setUrl("/Common/GetComboData?table=fb_pa_goods_gl&valueColumn=gl_code&textColumn=gl_name&gs_code=" + gsValue);
            generateId();
        }
        function onGlValuechanged(e) {
            generateId();
        }
        function generateId() {
            var gbCombo = mini.get("Control_GbCode");
            var gmCombo = mini.get("Control_GmCode");
            var gsCombo = mini.get("Control_GsCode");
            var glCombo = mini.get("Control_GlCode");
            mini.get("#Control_GoodsCode").setValue(gbCombo.getValue() + gmCombo.getValue() + gsCombo.getValue() + glCombo.getValue() + mini.get("Control_GoodsSubCode").getValue());
        }
        function activeTab(index) {
            var tab = mini.get("tabs1");
            tab.activeTab(tab.getTab(index));
        }
        function onFileSelect(e) {
            //alert("选择文件");
            //var fileupload = mini.getbyName("Photo","grid4");
            var fileupload = e.sender.swfUpload;
            //fileupload.setPostParams({
            //    "s_Number":mini.get("grid4").totalCount.toString()
            //});
            var idx=mini.getbyName("sNumber","grid4").getValue();
            if(idx.length==0){
                idx=mini.get("grid4").totalCount.toString();
            }
            fileupload.addPostParam("s_Number",idx);
            fileupload.startUpload();
        }
        function onUploadSuccess(e) {
            mini.get("grid4").reload();
        }
        function onUploadError(e) {
        }
        function startUpload() {
            var fileupload =mini.getbyName("Photo","grid4");
            fileupload.startUpload();
        }
        function newRow(grid) {
            var row = {};
            grid.addRow(row, 0);
            grid.cancelEdit();
            grid.beginEditRow(row);

            $("#" + grid.id).find("input:visible").eq(2).focus()
            
        }
        function getActiveGrid() {
            var grid1 = mini.get("grid1");
            var grid2 = mini.get("grid2");
            var grid3 = mini.get("grid3");
            var grid4 = mini.get("grid4");
            var tab = mini.get("tabs1");
            switch (tab.activeIndex) {
                case 0:
                    activeGrid = grid1;
                    break;
                case 1:
                    activeGrid = grid2;
                    break;
                case 2:
                    activeGrid = grid3;
                    break;
                case 3:
                    activeGrid = grid4;
                    break;
            }
        }
        function grid1Click(e) {
            if(e.record.IfMainSupplier=="1"){
                return false;
            }
            mini.get("grid1").beginEditRow(e.row);
        }
        function grid2Click(e) {
            if(e.record.IfMainBar=="1"){
                return false;
            }
            mini.get("grid2").beginEditRow(e.row);
        }
        function grid3Click(e) {
            mini.get("grid3").beginEditRow(e.row);
        }
        function grid4Click(e) {
            mini.get("grid4").beginEditRow(e.row);
        }

        function onSupnameChanged(e) {
            //$("#grid1 input[name='SupName']:first").val(e.selected.SupName);
            //$("#grid1 input[name='SupName']:first").parents(".mini-grid-editor").find("input:hidden").val(e.selected.SupName);
            mini.getbyName("SupName", "grid1").setValue(e.selected.SupName);
            mini.getbyName("PyCode", "grid1").setValue(e.selected.PyCode);
            //$("#grid1 input[name='PyCode']:first").val(e.selected.PyCode);
            $("#grid1 input[name='OpCode']:first").focus();
        }
        function onBindValuechanged(e) {
            mini.getbyName("GoodsBarCodeBind", "grid3").setValue(e.selected.GoodsBarCode);
            mini.getbyName("GoodsBarName", "grid3").setValue(e.selected.GoodsName);
            mini.getbyName("PackUnitCode", "grid3").setValue(e.selected.PackUnitCode);
            mini.getbyName("SalePrice", "grid3").setValue(e.selected.SalePrice);
        }
        function onImageRenderer(e){
            var grid = e.sender;
            var record = e.record;
            return "<img src='/Common/GetImageFromDb?table=Fb_Goods_Archives_Photo&imgcolumn=Photo&idcolumn=id&idvalue="+record.Id+"' style='height:30px;' />";
        }
        function setBindtabEnable()
        {
            mini.get("tabs1").getTab(2).enabled=(mini.get("Control_GoodsType").getValue()=="4");
        }
        function onIfMainBarchanged(e){
            //e.sender.getParent().data[0]["PackCoef"]="1";
            //e.sender.getParent().setData({"PackCoef":"1"});
        }
        function onGoodsBarCodeBlur(){
            mini.getbyName("GoodsBarName","grid2").setValue(mini.get("Control_GoodsName").getValue());
            mini.getbyName("PackUnitCode","grid2").setValue(mini.get("Control_PackUnitCode").getValue());
        }
        function fillSubName(){
            mini.get("Control_GoodsSubName").setValue(mini.get("Control_GoodsName").getValue().substr(0,10));
            mini.get("Control_PyCode").setValue(makePy(mini.get("Control_GoodsName").getValue()));
            $("#Control_ArticleNumber input:text:first").focus();
        }
        $(function () {
            $("#btnAddSupplier").click(function () {
                activeTab(0);
                var grid = mini.get("grid1");
                var row = {};
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
            });
            $("#btnAddSaleCode").click(function () {
                activeTab(1);
                var grid = mini.get("grid2");
                var row = {};
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
            });
            $("#btnAddBind").click(function () {
                activeTab(2);
                var grid = mini.get("grid3");
                var row = {};
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
            });
            $("#btnAddImage").click(function () {
                activeTab(3);
                var grid = mini.get("grid4");
                var row = {};
                grid.addRow(row, 0);
                grid.cancelEdit();
                grid.beginEditRow(row);
            });

            mini.get("grid1").reload();
            mini.get("grid2").reload();
            mini.get("grid3").reload();
            mini.get("grid4").reload();

            if(isNew){
                var tab = mini.get("tabs1");
                tab.getTab(3).enabled=false;
            }
            //grids

            jQuery.hotkeys.add('return', function () {
                $(document).scrollTop(999999);
                getActiveGrid();

                if (activeGrid.isEditing()) {
                    activeGrid.commitEdit();
                }
                newRow(activeGrid);
            });
            jQuery.hotkeys.add('esc', function () {
                getActiveGrid();
                activeGrid.reload();
            });
            jQuery.hotkeys.add('del', function () {
                getActiveGrid();
                activeGrid.removeRows(activeGrid.getSelecteds());
            });
            $("#btnExame").click(function(){
                var chk=mini.get("Control_IfExamine");
                chk.setValue("1");
                mini.get("Control_ExamineDate").setValue(new Date());
                clearExameAfterSave = false;
            });
            setBindtabEnable();
            // 是否可以直接修改售价
            if(isNew==false && canModify==0){
                mini.get("Control_PurchasePrice").disable();
                mini.get("Control_NontaxPurchasePrice").disable();
            }
        });
    </script>
</head>
<body>
    <div class="container">
        <h1>商品档案编辑
            <div style="display:inline-block;float:right;font-size:12px;color:#000;font-weight:normal;"><input type="checkbox" id="cloneGoodsInfomation" /><label for="cloneGoodsInfomation">保存后复制上一条信息</label></div>
        </h1>
        
        <div class="tooltip warning hidden" id="Tooltip_Warning_FbGoodsArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于商品档案编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_FbGoodsArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于商品档案编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_FbGoodsArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于商品档案编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_FbGoodsArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于商品档案编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>商品信息</legend>
                <div class="ablock">
                    <label for="Control_GbCode">大类:</label>
                    <input id="Control_GbCode" value="@Model.GbCode" class="mini-combobox" name="GbCode" url="/Common/GetComboData?table=fb_pa_goods_gb&valueColumn=gb_code&textColumn=gb_name" onvaluechanged="onGbValuechanged" required="true" />
                </div>
                <div class="ablock">
                    <label for="Control_GmCode">中类:</label>
                    <input type="text"  value="@Model.GmCode" class="mini-combobox" name="GmCode" url="/Common/GetComboData?table=fb_pa_goods_gm&valueColumn=gm_code&textColumn=gm_name"  id="Control_GmCode" onvaluechanged="onGmValuechanged" required="true" />
                </div>
                <div class="ablock">
                    <label for="Control_GsCode">小类:</label>
                    <input type="text"  value="@Model.GsCode" class="mini-combobox" name="GsCode" url="/Common/GetComboData?table=fb_pa_goods_gs&valueColumn=gs_code&textColumn=gs_name" id="Control_GsCode" onvaluechanged="onGsValuechanged" required="true" />
                </div>
                <div class="ablock">
                    <label for="Control_GlCode">细类:</label>
                    <input type="text"  value="@Model.GlCode" class="mini-combobox" name="GlCode" url="/Common/GetComboData?table=fb_pa_goods_gl&valueColumn=gl_code&textColumn=gl_name" id="Control_GlCode" onvaluechanged="onGlValuechanged" required="true" />
                </div>
                <div class="ablock">
                    <label for="Control_GoodsCode">商品编码:</label>
                    <input id="Control_GoodsCode" value="@Model.Id" name="Id" class="mini-textbox" enabled="false"/>
                </div>
                <div class="ablock">
                    <label for="Control_GoodsSubCode">商品简码:</label>
                    <input type="text"  value="@Model.GoodsSubCode" class="mini-textbox" name="GoodsSubCode" id="Control_GoodsSubCode" enabled="false" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_GoodsBarCode">商品销售码:</label>
                    <input type="text"  value="@Model.GoodsBarCode" class="mini-textbox" name="GoodsBarCode" id="Control_GoodsBarCode" vtype="maxLength:20" enabled="false" />
                </div>
                <div class="ablock">
                    <label for="Control_GoodsState">商品状态:</label>
                    <input type="text"  value="@Model.GoodsState" class="mini-combobox" name="GoodsState" id="Control_GoodsState" vtype="maxLength:20" data="c_GoodsState" valueFromSelect="true" />
                </div>
                <div class="ablock">
                    <label for="Control_GoodsType">商品类型:</label>
                    <input type="text"  value="@Model.GoodsType" class="mini-combobox" name="GoodsType" id="Control_GoodsType" data="c_GoodsType" onvaluechanged="setBindtabEnable" />
                </div>

                <div class="ablock">
                    <label for="Control_CheckMode">核算方式:</label>
                    <input type="text"  value="@Model.CheckMode" class="mini-combobox" name="CheckMode" id="Control_CheckMode" data="[{id:'1',text:'先进先出'}]" />
                </div>
                <div class="ablock">
                    <label for="Control_CheckUnitCode">核算单位:</label>
                    <input type="text"  value="@Model.CheckUnitCode" class="mini-textbox" name="CheckUnitCode" id="Control_CheckUnitCode" vtype="maxLength:20"required="true" />
                </div>
                <div class="ablock">
                    <label for="Control_UnderCounterCode">所属柜台:</label>
                    <input type="text"  value="@Model.UnderCounterCode" class="mini-combobox" name="UnderCounterCode" id="Control_UnderCounterCode" url="/Common/GetComboData?table=fb_pa_goods_counter&valueColumn=counter_code&textColumn=counter_name" vtype="maxLength:20" />
                </div>
                <div class="ablock colspan2">
                    <label for="Control_GoodsName">商品名称:</label>
                    <input type="text"  value="@Model.GoodsName" class="mini-textbox" name="GoodsName" id="Control_GoodsName" vtype="maxLength:50" required="true" onblur="fillSubName" />
                </div>
                <div class="ablock">
                    <label for="Control_GoodsSubName">商品简称:</label>
                    <input type="text"  value="@Model.GoodsSubName" class="mini-textbox" name="GoodsSubName" id="Control_GoodsSubName" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_PyCode">拼音码:</label>
                    <input type="text"  value="@Model.PyCode" class="mini-textbox" name="PyCode" id="Control_PyCode" vtype="maxLength:250" />
                </div>
                <div class="ablock">
                    <label for="Control_ArticleNumber">货号:</label>
                    <input type="text"  value="@Model.ArticleNumber" class="mini-textbox" name="ArticleNumber" id="Control_ArticleNumber" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_ProducingArea">产地:</label>
                    <input type="text"  value="@Model.ProducingArea" class="mini-textbox" name="ProducingArea" id="Control_ProducingArea" vtype="maxLength:100" />
                </div>
                <div class="ablock">
                    <label for="Control_Specification">规格:</label>
                    <input type="text"  value="@Model.Specification" class="mini-textbox" name="Specification" id="Control_Specification" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_PackUnitCode">包装单位:</label>
                    <input type="text"  value="@Model.PackUnitCode" class="mini-combobox" name="PackUnitCode" id="Control_PackUnitCode" url="/Common/GetComboData?table=fb_pa_goods_pack_unit&valueColumn=pack_unit_code&textColumn=pack_unit_name" />
                </div>
                <div class="ablock">
                    <label for="Control_ShelfLife">保质期(天):</label>
                    <input type="text"  value="@Model.ShelfLife" class="mini-spinner" minValue="1" maxValue="1000" decimalPlaces="0" name="ShelfLife" id="Control_ShelfLife" />
                </div>
                <div class="ablock">
                    <label for="Control_StockUpperLimit">库存上限:</label>
                    <input type="text" id="Control_StockUpperLimit" name="StockUpperLimit"  value="@Model.StockUpperLimit" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
                </div>

                <div class="ablock">
                    <label for="Control_StockLowerLimit">库存下限:</label>
                    <input type="text" id="Control_StockLowerLimit" name="StockLowerLimit"  value="@Model.StockLowerLimit" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
                </div>
            </fieldset>
            <fieldset>
                <legend>经营信息</legend>
                <div class="ablock">
                    <label for="Control_SupCode">供货商编码:</label>
                    <input type="text"  value="@Model.SupCode" class="mini-textbox" name="SupCode" id="Control_SupCode" vtype="maxLength:20"required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_OpCode">经营方式:</label>
                    <input type="text"  value="@Model.OpCode" class="mini-combobox" name="OpCode" id="Control_OpCode" required="true" data="c_OpCode" showNullItem="true" />
                </div>

                <div class="ablock">
                    <label for="Control_PoolRate">扣率:</label>
                    <input type="text" id="Control_PoolRate" name="PoolRate"  value="@Model.PoolRate" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
                </div>
                <div class="ablock">
                    <label for="Control_OfferMode">供货方式:</label>
                    <input type="text"  value="@Model.OfferMode" class="mini-textbox" name="OfferMode" id="Control_OfferMode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_PackCoef">包装系数:</label>
                    <input type="text" id="Control_PackCoef" name="PackCoef"  value="@Model.PackCoef" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="0"/>
                </div>

                <div class="ablock">
                    <label for="Control_OfferMin">最小订量:</label>
                    <input type="text" id="Control_OfferMin" name="OfferMin"  value="@Model.OfferMin" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="0"/>
                </div>

                <div class="ablock">
                    <label for="Control_InputTax">进项税率:</label>
                    <input type="text" id="Control_InputTax" name="InputTax"  value="@Model.InputTax" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
                </div>

                <div class="ablock">
                    <label for="Control_OutputTax">销项税率:</label>
                    <input type="text" id="Control_OutputTax" name="OutputTax"  value="@Model.OutputTax" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
                </div>
                <div class="ablock">
                    <label for="Control_PurchasePrice">含税进价:</label>
                    <input type="text" id="Control_PurchasePrice" name="PurchasePrice"  value="@Model.PurchasePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.PurchasePreciseLen"/>
                </div>

                <div class="ablock">
                    <label for="Control_NontaxPurchasePrice">不含税进价:</label>
                    <input type="text" id="Control_NontaxPurchasePrice" name="NontaxPurchasePrice"  value="@Model.NontaxPurchasePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.PurchasePreciseLen"/>
                </div>
                <div class="ablock">
                    <label for="Control_GrossRate">毛利率:</label>
                    <input type="text" id="Control_GrossRate" name="GrossRate"  value="@Model.GrossRate" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
                </div>
                <div class="ablock">
                    <label for="Control_PushRate">营业员提成:</label>
                    <input type="text" id="Control_PushRate" name="PushRate"  value="@Model.PushRate" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
                </div>
                <div class="ablock">
                    <label for="Control_SalePrice">销售价:</label>
                    <input type="text" id="Control_SalePrice" name="SalePrice"  value="@Model.SalePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                </div>

                <div class="ablock">
                    <label for="Control_VipPrice">会员价:</label>
                    <input type="text" id="Control_VipPrice" name="VipPrice"  value="@Model.VipPrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                </div>

                <div class="ablock">
                    <label for="Control_TradePrice">批发价:</label>
                    <input type="text" id="Control_TradePrice" name="TradePrice"  value="@Model.TradePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                </div>
            </fieldset>
            <fieldset>
                <legend>其他信息</legend>
                <div class="ablock">
                    <label for="Control_UnderFloorCode">所属楼层:</label>
                    <input type="text"  value="@Model.UnderFloorCode" class="mini-textbox" name="UnderFloorCode" id="Control_UnderFloorCode" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_BrandCode">所属品牌:</label>
                    <input type="text"  value="@Model.BrandCode" class="mini-textbox" name="BrandCode" id="Control_BrandCode" vtype="maxLength:20" />
                </div>
                <div class="ablock">
                    <label for="Control_AvgCost">平均成本:</label>
                    <input type="text" id="Control_AvgCost" name="AvgCost"  value="@Model.AvgCost" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
                </div>

                <div class="ablock">
                    <label for="Control_NontaxAvgCost">不含税平均成本:</label>
                    <input type="text" id="Control_NontaxAvgCost" name="NontaxAvgCost"  value="@Model.NontaxAvgCost" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
                </div>
                <div class="ablock">
                    <label for="Control_SupplyPrice">配送价:</label>
                    <input type="text" id="Control_SupplyPrice" name="SupplyPrice"  value="@Model.SupplyPrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
                </div>
                <div class="ablock">
                    <label for="Control_CreateDate">创建时间:</label>
                    <input type="text" id="Control_CreateDate" name="CreateDate"  value="@Model.CreateDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_Operator">操作员:</label>
                    <input type="text"  value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_Assessor">审核人:</label>
                    <input type="text"  value="@Model.Assessor" class="mini-textbox" name="Assessor" id="Control_Assessor" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_IfExamine">&nbsp;</label>
                    <div id="Control_IfExamine" name="IfExamine" value="@Model.IfExamine" class="mini-checkbox" enabled="false" readonly="false" text="审核" trueValue="1" falseValue="0"></div>
                </div>

                <div class="ablock">
                    <label for="Control_ExamineDate">审核时间:</label>
                    <input type="text" id="Control_ExamineDate" name="ExamineDate"  value="@Model.ExamineDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>

                <div class="ablock">
                    <label for="Control_OperatorDate">操作时间:</label>
                    <input type="text" id="Control_OperatorDate" name="OperatorDate"  value="@Model.OperatorDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
                </div>
            </fieldset>
            <div id="tabs1" class="mini-tabs" activeindex="0" style="width: 100%; height: 200px;" plain="false">
                <div title="供货商信息">
                    <div class="mini-fit">
                        <div id="grid1" class="mini-datagrid" url="/Fb/SearchFbGoodsArchivesSupplierList?GoodsCode=@Model.Id"
                            style="width: 100%; height: 100%;" idfield="id" allowresize="false" showPager="false" multiselect="true" onrowdblclick="grid1Click">
                            <div property="columns">
                                <div type="indexcolumn" width="30">
                                </div>
                                <div type="checkcolumn" width="30">
                                </div>
                                <div field="SupCode" headeralign="center" align="center" width="60">
                                    供货商
					<input id="filter_SupCode" name="SupCode" property="editor" class="mini-combobox" valuefield="Id" textfield="SupName" pinyinfield="PyCode" url="/Data/FbSupplierArchives.js" allowinput="true" onvaluechanged="onSupnameChanged" style="width: 100%;" />
                                </div>
                                <div field="SupName" headeralign="center" align="center" width="60">
                                    供货商名称
					<input id="filter_SupName" name="SupName" property="editor" class="mini-textbox" enabled="true" style="width: 100%;" />
                                </div>
                                <div field="PyCode" headeralign="center" align="center" width="60">
                                    拼音码
					<input id="filter_PyCode" name="PyCode" property="editor" class="mini-textbox" enabled="true" style="width: 100%;" />
                                </div>
                                <div field="OpCode" headeralign="center" align="center" width="60" renderer="onOpCodeRender">
                                    经营方式
					<input id="filter_OpCode" name="OpCode" property="editor" class="mini-combobox" data="c_OpCode" style="width: 100%;" />
                                </div>
                                <div field="PoolRate" headeralign="center" align="center" width="60">
                                    扣率
					<input id="filter_PoolRate" name="PoolRate" property="editor" class="mini-spinner" style="width: 100%;" />
                                </div>
                                <div field="OfferMode" headeralign="center" align="center" width="60">
                                    供货方式
					<input id="filter_OfferMode" name="OfferMode" property="editor" class="mini-combobox" style="width: 100%;"  data="c_OfferMode"/>
                                </div>
                                <div field="OfferMin" headeralign="center" align="center" width="60">
                                    最小订量
					<input id="filter_OfferMin" name="OfferMin" property="editor" class="mini-spinner" style="width: 100%;" />
                                </div>
                                <div field="InputTax" headeralign="center" align="center" width="60">
                                    进项税率
					<input id="filter_InputTax" name="InputTax" property="editor" class="mini-spinner" style="width: 100%;" />
                                </div>
                                <div field="PurchasePrice" headeralign="center" align="center" width="60">
                                    含税进价
					<input id="filter_PurchasePrice" name="PurchasePrice" property="editor" class="mini-spinner" style="width: 100%;" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.PurchasePreciseLen"/>
                                </div>
                                <div field="NontaxPurchasePrice" headeralign="center" align="center" width="60">
                                    不含税进价
					<input id="filter_NontaxPurchasePrice" name="NontaxPurchasePrice" property="editor" class="mini-spinner" style="width: 100%;" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.PurchasePreciseLen"/>
                                </div>
                                <div field="IfMainSupplier" headeralign="center" align="center" width="60" renderer="onYesNoRender">
                                    主供货商
                                    <div id="filter_IfMainSupplier" property="editor" name="IfMainSupplier" value="1" trueValue="1" falseValue="0" class="mini-checkbox" checked="true" readonly="false"></div>
                                </div>
                                <div field="IfExamine" headeralign="center" align="center" width="60" renderer="onExamRender">
                                    是否审核
                                    <div id="Control_IfExamine" property="editor" name="IfExamine" value="1" class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false"></div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div title="销售码信息">
                    <div class="mini-fit">
                        <div id="grid2" class="mini-datagrid" url="/Fb/SearchFbGoodsArchivesBarList?GoodsCode=@Model.Id"
                            style="width: 100%; height: 100%;" idfield="id" allowresize="false" showPager="false" multiselect="true" onrowdblclick="grid2Click">
                            <div property="columns">
                                <div type="indexcolumn" width="30">
                                </div>
                                <div type="checkcolumn" width="30">
                                </div>
                                <div field="GoodsBarCode" headeralign="center" align="center" width="60">
                                    商品销售码
					<input id="filter_GoodsBarCode" name="GoodsBarCode" property="editor" class="mini-textbox" style="width: 100%;" onblur="onGoodsBarCodeBlur"/>
                                </div>
                                <div field="GoodsBarName" headeralign="center" align="center" width="60">
                                    销售名称
					<input id="filter_GoodsBarName" name="GoodsBarName" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="PackUnitCode" headeralign="center" align="center" width="60">
                                    包装单位
                                    <input type="text"  property="editor" value="@Model.PackUnitCode" style="width: 100%;" class="mini-combobox" name="PackUnitCode" id="filter_PackUnitCode" url="/Common/GetComboData?table=fb_pa_goods_pack_unit&valueColumn=pack_unit_code&textColumn=pack_unit_name" />
                                </div>
                                <div field="PackCoef" headeralign="center" align="center" width="60">
                                    包装系数
					<input id="filter_PackCoef" name="PackCoef" property="editor" class="mini-spinner" decimalPlaces="2" style="width: 100%;" />
                                </div>
                                <div field="QtyType" headeralign="center" align="center" width="60">
                                    计量方式
					<input id="filter_QtyType" name="QtyType" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="PriceType" headeralign="center" align="center" width="60">
                                    计价方式
					<input id="filter_PriceType" name="PriceType" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="SalePrice" headeralign="center" align="center" width="60">
                                    销售价
					<input id="filter_SalePrice" name="SalePrice" property="editor" class="mini-spinner" style="width: 100%;" decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                                </div>
                                <div field="VipPrice" headeralign="center" align="center" width="60">
                                    会员价
					<input id="filter_VipPrice" name="VipPrice" property="editor" class="mini-spinner" style="width: 100%;"  decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                                </div>
                                <div field="TradePrice" headeralign="center" align="center" width="60">
                                    批发价
					<input id="filter_TradePrice" name="TradePrice" property="editor" class="mini-spinner" style="width: 100%;"  decimalPlaces="@YiQiWorkFlow.Web.Client.Common.FbBaseController.FbPaBaseSet.SalePreciseLen"/>
                                </div>
                                <div field="PushRate" headeralign="center" align="center" width="60">
                                    营业员提成
					<input id="filter_PushRate" name="PushRate" property="editor" class="mini-spinner" style="width: 100%;" />
                                </div>
                                <div field="IfMainBar" headeralign="center" align="center" width="60">
                                    是否主销售码
                                    <div id="filter_IfMainBar" property="editor" name="IfMainBar"  class="mini-checkbox" trueValue="1" falseValue="0" checked="true" readonly="false" oncheckedchanged="onIfMainBarchanged"></div>
                                </div>
                                <div field="IfExamine" headeralign="center" align="center" width="60">
                                    是否审核
					<div id="Control_IfExamine" property="editor" name="IfExamine" value="1" trueValue="1" falseValue="0" class="mini-checkbox" checked="true" readonly="false"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabBind" title="捆绑商品信息" enabled="false">
                    <div class="mini-fit">
                        <div id="grid3" class="mini-datagrid" url="/Fb/SearchFbGoodsArchivesBindList?GoodsCode=@Model.Id"
                            style="width: 100%; height: 100%;" idfield="id" allowresize="false" showPager="false" multiselect="true" onrowdblclick="grid3Click">
                            <div property="columns">
                                <div type="indexcolumn" width="30">
                                </div>
                                <div type="checkcolumn" width="30">
                                </div>

                                <div field="GoodsCodeBind" headeralign="center" align="center" width="60">
                                    商品编码
					<input id="filter_GoodsCodeBind" name="GoodsCodeBind" property="editor" class="mini-autocomplete" required="true" valueField="Id" textField="GoodsName" url="/Fb/SearchFbGoodsArchivesListForList" onvaluechanged="onBindValuechanged" style="width: 100%;" />
                                </div>
                                <div field="GoodsBarCode" headeralign="center" align="center" width="60">
                                    捆绑商品销售码
					<input id="filter_GoodsBarCode" name="GoodsBarCode" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="GoodsBarCodeBind" headeralign="center" align="center" width="60">
                                    商品销售码
					<input id="filter_GoodsBarCodeBind" name="GoodsBarCodeBind" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="GoodsBarName" headeralign="center" align="center" width="60">
                                    销售名称
					<input id="filter_GoodsBarName" name="GoodsBarName" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="PackUnitCode" headeralign="center" align="center" width="60">
                                    包装单位
					<input id="filter_PackUnitCode" name="PackUnitCode" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="BindCoef" headeralign="center" align="center" width="60">
                                    捆绑系数
					<input id="filter_BindCoef" name="BindCoef" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="SalePrice" headeralign="center" align="center" width="60">
                                    销售价
					<input id="filter_SalePrice" name="SalePrice" property="editor" class="mini-spinner" style="width: 100%;" decimalPlaces="4" />
                                </div>
                                <div field="BindSalePrice" headeralign="center" align="center" width="60">
                                    捆绑销售价
					<input id="filter_BindSalePrice" name="BindSalePrice" property="editor" class="mini-spinner" style="width: 100%;" decimalPlaces="4" />
                                </div>
                                <div field="IfExamine" headeralign="center" align="center" width="60">
                                    是否审核
					<div id="Control_IfExamine" property="editor" name="IfExamine" class="mini-checkbox" checked="true" readonly="false"></div>
                                </div>
                                <div field="SaleMoney" headeralign="center" align="center" width="60">
                                    捆绑商品销售价
					<input id="filter_SaleMoney" name="SaleMoney" property="editor" class="mini-spinner" style="width: 100%;" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div title="商品图片信息">
                    <div class="mini-fit">
                        <div id="grid4" class="mini-datagrid" url="/Fb/SearchFbGoodsArchivesPhotoList?GoodsCode=@Model.Id"
                            style="width: 100%; height: 100%;" idfield="id" allowresize="false" showPager="false" multiselect="true" onrowdblclick="grid4Click">
                            <div property="columns">
                                <div type="indexcolumn" width="30">
                                </div>
                                <div type="checkcolumn" width="30">
                                </div>
                                <div field="sNumber" headeralign="center" align="center" width="60">
                                    序号
					                <input id="filter_sNumber" name="sNumber" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>
                                <div field="Photo" headeralign="center" align="center" width="60" renderer="onImageRenderer">
                                    图片
                                    <input id="filter_Photo" property="editor" style="width: 100%;" class="mini-fileupload" name="Photo" limittype="图片文件|.jpg;*.gif;*.png;*.bmp" flashurl="/Scripts/swfupload/swfupload.swf" uploadurl="/Common/SaveImageToDb?table=Fb_Goods_Archives_Photo&imgcolumn=Photo&Goods_Code=@Model.Id&idcolumn=id&typecolumn=Photo_Type" onuploadsuccess="onUploadSuccess" onuploaderror="onUploadError" onfileselect="onFileSelect" />

                                </div>
                                <div field="PhotoType" headeralign="center" align="center" width="60">
                                    图片类型
					<input id="filter_PhotoType" name="PhotoType" property="editor" class="mini-textbox" style="width: 100%;" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <div class="control-panel">
                <div class="control-button">
                    <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                    <input type="button" class="myButton" id="btnExame" value="审核(Ctrl+E)" />
                    <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                    <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
                </div>
                <div class="botton-up">
                </div>
            </div>
        </form>
    </div>
</body>
</html>

