@model YiQiWorkFlow.Domain.Ws.WsCustomerArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>客户档案管理</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "客户档案管理"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:59"; var id = "@Model.Id"; pageName = "WsCustomerArchivesEdit"; </script>
    <script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Ws/SaveWsCustomerArchives",
                type: 'post',
                data: o,
                cache: false,
                dataType: "json",
                success: function (r) {
                    if (r.IsSuccess == true) {

                    } else {
                        $("#Tooltip_Critical_WsCustomerArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_WsCustomerArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_WsCustomerArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_WsCustomerArchives").show("fast");
                    form.unmask();
                    $(document).scrollTop(0);
                }
            });
        }

        function Add() {
            location.href = "/Ws/WsCustomerArchivesEdit";
        }

        function Search() {
            location.href = "/Ws/WsCustomerArchivesList";
        }
    </script>
</head>
<body>
    <div class="container">
        <div id="toolbar1" class="mini-toolbar" style="padding: 2px;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <a id="btnAdd" iconcls="icon-add" class="mini-button" plain="true" tooltip="增加">增加</a>
                        <a id="btnFormSubmit" iconcls="icon-save" class="mini-button" plain="true" tooltip="保存(Ctrl+S)">保存</a>
                        <a id="btnSearch" iconcls="icon-search" class="mini-button" plain="true" tooltip="查询">查询</a>
                        <!--<a id="btnDelete" iconcls="icon-remove" class="mini-button" plain="true" tooltip="删除">删除</a>-->
                        <a id="btnExame" iconcls="icon-ok" class="mini-button" plain="true" tooltip="审核(Ctrl+E)">审核</a>
                        <a id="btnAbolish" iconcls="icon-no" class="mini-button" plain="true" tooltip="废除(Ctrl+F)">废除</a>
                        <!--<a id="btnFormReset" iconcls="icon-undo" class="mini-button" plain="true" tooltip="重置(Esc)">重置</a>-->
                        <a id="btnPrint" iconcls="icon-print" class="mini-button" plain="true" tooltip="打印">打印</a>
                        <a id="btnReturn" iconcls="icon-undo" class="mini-button" plain="true" tooltip="返回(Ctrl+Q)">返回</a>
                    </td>
                </tr>
            </table>
        </div>
        <!--<h1>
            客户档案管理
        </h1>-->
        <div class="tooltip warning hidden" id="Tooltip_Warning_WsCustomerArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于客户档案编辑页面的警告信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_WsCustomerArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于客户档案编辑页面的提示信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_WsCustomerArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于客户档案编辑页面的帮助信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_WsCustomerArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
            <p class="content">
                此处填写关于客户档案编辑页面的出错信息
            </p>
            <div class="button-close">
                x
            </div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
            <fieldset>
                <legend>基本信息</legend>
                <div class="ablock">
                    <label for="Control_Id">客户编码:</label>
                    <input type="text" value="@Model.Id" class="mini-textbox" name="Id" id="Control_Id" vtype="maxLength:20" required="true" enabled="false" />
                </div>

                <div class="ablock hidden">
                    <label for="Control_PyCode">拼音码:</label>
                    <input type="text" value="@Model.PyCode" class="mini-textbox" name="PyCode" id="Control_PyCode" vtype="maxLength:250" />
                </div>

                <div class="ablock">
                    <label for="Control_CustTypeCode">客户类型:</label>

                    <div id="Control_CustTypeCode" name="CustTypeCode" class="mini-combobox" style="width: 150px;" popupwidth="200" textfield="text" valuefield="id"
                        url="/Ws/GetWsPaCustomerTypeList" showclose="true" oncloseclick="onCloseClick" emptytext="请选择..." value="@Model.CustTypeCode" required="true">
                    </div>
                </div>

                <div class="ablock">
                    <label for="Control_CustName">客户名称:</label>
                    <input type="text" value="@Model.CustName" class="mini-textbox" name="CustName" id="Control_CustName" vtype="maxLength:100" required="true" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_Linkman">联系人:</label>
                    <input type="text" value="@Model.Linkman" class="mini-textbox" name="Linkman" id="Control_Linkman" vtype="maxLength:50" />
                </div>

                <div class="ablock">
                    <label for="Control_ContactPhone">联系电话:</label>
                    <input type="text" value="@Model.ContactPhone" class="mini-textbox" name="ContactPhone" id="Control_ContactPhone" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_ContactAddress">联系地址:</label>
                    <input type="text" value="@Model.ContactAddress" class="mini-textbox" name="ContactAddress" id="Control_ContactAddress" vtype="maxLength:100" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_OfficePhone">办公电话:</label>
                    <input type="text" value="@Model.OfficePhone" class="mini-textbox" name="OfficePhone" id="Control_OfficePhone" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_FaxPhone">传真:</label>
                    <input type="text" value="@Model.FaxPhone" class="mini-textbox" name="FaxPhone" id="Control_FaxPhone" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_eMail">邮箱:</label>
                    <input type="text" value="@Model.eMail" class="mini-textbox" name="eMail" id="Control_eMail" vtype="maxLength:50" />
                </div>

                <div class="ablock">
                    <label for="Control_Postalcode">邮政编码:</label>
                    <input type="text" value="@Model.Postalcode" class="mini-textbox" name="Postalcode" id="Control_Postalcode" vtype="maxLength:20" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_OpenAccount">开户行:</label>
                    <input type="text" value="@Model.OpenAccount" class="mini-textbox" name="OpenAccount" id="Control_OpenAccount" vtype="maxLength:50" />
                </div>

                <div class="ablock">
                    <label for="Control_BankAccount">帐号:</label>
                    <input type="text" value="@Model.BankAccount" class="mini-textbox" name="BankAccount" id="Control_BankAccount" vtype="maxLength:50" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_TaxNumber">税号:</label>
                    <input type="text" value="@Model.TaxNumber" class="mini-textbox" name="TaxNumber" id="Control_TaxNumber" vtype="maxLength:50" />
                </div>

                <div class="ablock">
                    <label for="Control_PayMode">付款方式:</label>
                    <input type="text" value="@Model.PayMode" class="mini-combobox" name="PayMode" id="Control_PayMode" data="c_CustomerPayMode" vtype="maxLength:20" requried="true" />
                </div>

                <div class="ablock">
                    <label for="Control_BalancePeriod">结算账期:</label>
                    <input type="text" value="@Model.BalancePeriod" class="mini-combobox" name="BalancePeriod" id="Control_BalancePeriod" data="c_CustomerBalancePeriod" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_BalanceMode">结算方式:</label>
                    <input type="text" value="@Model.BalanceMode" class="mini-combobox" name="BalanceMode" id="Control_BalanceMode" data="c_CustomerBalanceMode" vtype="maxLength:20" />
                </div>

                <div class="ablock">
                    <label for="Control_BalanceDay">结算日:</label>
                    <input type="text" id="Control_BalanceDay" name="BalanceDay" value="@Model.BalanceDay" class="mini-spinner" minvalue="1" maxvalue="31" required="true" />
                </div>

                <div class="ablock">
                    <label for="Control_SalePeriod">销售帐期:</label>
                    <input type="text" value="@Model.SalePeriod" class="mini-combobox" name="SalePeriod" id="Control_SalePeriod" data="c_CustomerSalePeriod" vtype="maxLength:20" required="true" />
                </div>

                <div class="ablock clear" style="height: 0"></div>
                <div class="ablock">
                    <label for="Control_Comment">备注:</label>
                    <input type="text" value="@Model.Comment" class="mini-textbox" name="Comment" id="Control_Comment" vtype="maxLength:50" />
                </div>

                <!--<div class="ablock hidden">
                    <label for="Control_IfExamine">是否审核:</label>
                    <div id="Control_IfExamine" name="IfExamine" value="1" class="mini-checkbox" checked="true" readonly="false" text="审核"></div>
                </div>-->

            </fieldset>
            <div id="datagrid1" class="mini-datagrid" url="/Ms/SearchMsCardtypeGoodsDiscountList?CardCode=@(string.IsNullOrEmpty(Model.Id) ? "" : Model.CardCode)"
                style="width: 100%; height: 400px; margin-top:10px;" idfield="Id" allowresize="false" sizelist="[20,30,50,100]"
                pagesize="20" multiselect="true" showfilterrow="false" showPager="false" onrowdblclick="onrowdblclick">
                <div property="columns">
                    <div type="indexcolumn" width="30">
                    </div>
                    <div type="checkcolumn" width="30">
                    </div>
                    <div field="Id" headeralign="center" align="center" width="0"></div>

                    <div field="GoodsName" headeralign="center" align="center" width="100">
                        商品销售码
					<input id="filter_GoodsName" name="GoodsName" class="mini-textbox" enabled="false" property="editor" style="width: 100%;" />
                    </div>
                    <div field="GoodsCode" headeralign="center" align="center" width="100">
                        商品销售码
					<div id="filter_GoodsCode" popupwidth="400" name="GoodsCode" property="editor" class="mini-combobox" allowinput="true" valuefield="GoodsBarCode" textfield="GoodsBarCode" onvaluechanged="onGoodsChanged" url="/Fb/SearchFbGoodsArchivesListForList" style="width: 100%;">
                        <div property="columns">
                            <div header="条形码" field="GoodsBarCode">
                            </div>
                            <div header="拼音码" field="PyCode">
                            </div>
                            <div header="商品名称" field="GoodsName">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div field="GoodsName" headeralign="center" align="center" width="100">
                        商品名称
					<input id="filter_GoodsName" name="GoodsName" class="mini-textbox" enabled="false" property="editor" style="width: 100%;" />
                    </div>
                    <div field="DiscountBase" headeralign="center" align="center" width="60" class="mini-spinner"  minValue="0" maxValue="999999">
                        销售价
					<input id="filter_DiscountBase" name="DiscountBase" class="mini-spinner"  minValue="0" maxValue="999999" enabled="true" property="editor" style="width: 100%;" />
                    </div>
                <div field="DiscountBase" headeralign="center" align="center" width="60" class="mini-spinner"  minValue="0" maxValue="999999">
                        批发价
					<input id="filter_DiscountBase" name="DiscountBase" class="mini-spinner"  minValue="0" maxValue="999999" enabled="true" property="editor" style="width: 100%;" />
                    </div>
                    <div field="DiscountBase" headeralign="center" align="center" width="60" class="mini-spinner"  minValue="0" maxValue="999999">
                        指定批发价
					<input id="filter_DiscountBase" name="DiscountBase" class="mini-spinner"  minValue="0" maxValue="999999" enabled="true" property="editor" style="width: 100%;" />
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
            <!--<div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>-->
        </form>
    </div>
</body>
</html>

