@model YiQiWorkFlow.Domain.Bs.BsPaBranchWarehouse
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>分店仓库设置编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "分店仓库设置"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/13 0:05:03";var id="@Model.Id";pageName="BsPaBranchWarehouseEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "SaveBsPaBranchWarehouse",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_BsPaBranchWarehouse .content").first().text(r.Message);
                        $("#Tooltip_Critical_BsPaBranchWarehouse").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_BsPaBranchWarehouse .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_BsPaBranchWarehouse").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            分店仓库设置编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_BsPaBranchWarehouse">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店仓库设置编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_BsPaBranchWarehouse">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店仓库设置编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_BsPaBranchWarehouse">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店仓库设置编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_BsPaBranchWarehouse">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于分店仓库设置编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock" style="display:none">
                <label for="Control_bCode">分店编码:</label>
                <input id="Control_bCode" value="@Model.Id" name="bCode" class="mini-hidden"/>
            </div>

            <div class="ablock" style="display:none">
                <label for="Control_WhCode">仓库编码:</label>
                <input id="Control_WhCode" value="@Model.Id" name="WhCode" class="mini-hidden"/>
            </div>

            <div class="ablock">
                <label for="Control_WhName">仓库名称:</label>
                <input type="text"  value="@Model.WhName" class="mini-textbox" name="WhName" id="Control_WhName" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_WhArea">仓库面积:</label>
                <input type="text" id="Control_WhArea" name="WhArea"  value="@Model.WhArea" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_SysGuid">系统标识:</label>
                <input type="text"  value="@Model.SysGuid" class="mini-textbox" name="SysGuid" id="Control_SysGuid" vtype="maxLength:60" />
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

