@model YiQiWorkFlow.Domain.Bs.BsSupplyManage
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>分店商品订货配送单编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "分店商品订货配送单"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/13 0:05:03";var id="@Model.Id";pageName="BsSupplyManageEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "SaveBsSupplyManage",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_BsSupplyManage .content").first().text(r.Message);
                        $("#Tooltip_Critical_BsSupplyManage").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_BsSupplyManage .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_BsSupplyManage").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            分店商品订货配送单编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_BsSupplyManage">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店商品订货配送单编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_BsSupplyManage">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店商品订货配送单编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_BsSupplyManage">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于分店商品订货配送单编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_BsSupplyManage">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于分店商品订货配送单编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock" style="display:none">
                <label for="Control_SpNumber">配送单号:</label>
                <input id="Control_SpNumber" value="@Model.Id" name="SpNumber" class="mini-hidden"/>
            </div>

            <div class="ablock">
                <label for="Control_bCode">分店编码:</label>
                <input type="text"  value="@Model.bCode" class="mini-textbox" name="bCode" id="Control_bCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_EnCode">企业编码:</label>
                <input type="text"  value="@Model.EnCode" class="mini-textbox" name="EnCode" id="Control_EnCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_WhCode">仓库编码:</label>
                <input type="text"  value="@Model.WhCode" class="mini-textbox" name="WhCode" id="Control_WhCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_WhCodeOut">总部仓库:</label>
                <input type="text"  value="@Model.WhCodeOut" class="mini-textbox" name="WhCodeOut" id="Control_WhCodeOut" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpType">配送方式:</label>
                <input type="text"  value="@Model.SpType" class="mini-textbox" name="SpType" id="Control_SpType" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SpState">配送状态:</label>
                <input type="text"  value="@Model.SpState" class="mini-textbox" name="SpState" id="Control_SpState" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PurchaseDate">订货日期:</label>
                <input type="text" id="Control_PurchaseDate" name="PurchaseDate"  value="@Model.PurchaseDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_ExpectArriveDate">预计送货日期:</label>
                <input type="text" id="Control_ExpectArriveDate" name="ExpectArriveDate"  value="@Model.ExpectArriveDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_SupplyDate">配送日期:</label>
                <input type="text" id="Control_SupplyDate" name="SupplyDate"  value="@Model.SupplyDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_PutinDate">收货日期:</label>
                <input type="text" id="Control_PutinDate" name="PutinDate"  value="@Model.PutinDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_SupplyMoney">配送金额:</label>
                <input type="text" id="Control_SupplyMoney" name="SupplyMoney"  value="@Model.SupplyMoney" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_IfBalance">是否结算:</label>
                <div id="Control_IfBalance" name="IfBalance" value="1" class="mini-checkbox" checked="true" readOnly="false" text="结算"></div>
            </div>

            <div class="ablock">
                <label for="Control_BaNumber">结算单号:</label>
                <input type="text"  value="@Model.BaNumber" class="mini-textbox" name="BaNumber" id="Control_BaNumber" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_BaMoney">结算金额:</label>
                <input type="text" id="Control_BaMoney" name="BaMoney"  value="@Model.BaMoney" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_CreateDate">创建时间:</label>
                <input type="text" id="Control_CreateDate" name="CreateDate"  value="@Model.CreateDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_Operator">操作员:</label>
                <input type="text"  value="@Model.Operator" class="mini-textbox" name="Operator" id="Control_Operator" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PurchaseAssessor">订货审核人:</label>
                <input type="text"  value="@Model.PurchaseAssessor" class="mini-textbox" name="PurchaseAssessor" id="Control_PurchaseAssessor" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PurchaseIfExamine">订货是否审核:</label>
                <input type="text"  value="@Model.PurchaseIfExamine" class="mini-textbox" name="PurchaseIfExamine" id="Control_PurchaseIfExamine" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PurchaseExamineDate">订货审核时间:</label>
                <input type="text" id="Control_PurchaseExamineDate" name="PurchaseExamineDate"  value="@Model.PurchaseExamineDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_SupplyAssessor">配送审核人:</label>
                <input type="text"  value="@Model.SupplyAssessor" class="mini-textbox" name="SupplyAssessor" id="Control_SupplyAssessor" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SupplyIfExamine">配送是否审核:</label>
                <input type="text"  value="@Model.SupplyIfExamine" class="mini-textbox" name="SupplyIfExamine" id="Control_SupplyIfExamine" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SupplyExamineDate">配送审核时间:</label>
                <input type="text" id="Control_SupplyExamineDate" name="SupplyExamineDate"  value="@Model.SupplyExamineDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_OperatorDate">操作时间:</label>
                <input type="text" id="Control_OperatorDate" name="OperatorDate"  value="@Model.OperatorDate" class="mini-datepicker"  format="yyyy-MM-dd H:mm:ss" timeFormat="H:mm:ss" showTime="true" showOkButton="true" showClearButton="true" required="false" />
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

