@model YiQiWorkFlow.Domain.Em.EmEmployeeArchives
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>人员档案编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "人员档案"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/15 19:58:44";var id="@Model.Id";pageName="EmEmployeeArchivesEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Em/SaveEmEmployeeArchives",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_EmEmployeeArchives .content").first().text(r.Message);
                        $("#Tooltip_Critical_EmEmployeeArchives").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_EmEmployeeArchives .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_EmEmployeeArchives").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            人员档案编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_EmEmployeeArchives">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于人员档案编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_EmEmployeeArchives">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于人员档案编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_EmEmployeeArchives">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于人员档案编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_EmEmployeeArchives">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于人员档案编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock" style="display:none">
                <label for="Control_EmCode">人员编号:</label>
                <input id="Control_EmCode" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

            <div class="ablock">
                <label for="Control_EmName">人员姓名:</label>
                <input type="text"  value="@Model.EmName" class="mini-textbox" name="EmName" id="Control_EmName" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_NameUsed">曾用名:</label>
                <input type="text"  value="@Model.NameUsed" class="mini-textbox" name="NameUsed" id="Control_NameUsed" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_Birthday">出生日期:</label>
                <input type="text" id="Control_Birthday" name="Birthday"  value="@Model.Birthday" class="mini-datepicker"  format="yyyy-MM-dd"   showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_Sex">性别:</label>
                <input type="text"  value="@Model.Sex" class="mini-combobox" data="[{id:0,text:'男'},{id:1,text:'女'}]"  name="Sex" id="Control_Sex" vtype="maxLength:20" required="true" />
            </div>

            <div class="ablock">
                <label for="Control_PoliticsCode">政治面貌编码:</label>
                <input type="text"  value="@Model.PoliticsCode" class="mini-combobox" textfield="text" valuefield="id" emptytext="请选择..." url="/Common/GetComboData?table=em_pa_politics&textcolumn=politics_name&valuecolumn=politics_code" required="true" allowinput="false" shownullitem="true" nullitemtext="请选择..." required="true" />
            </div>

            <div class="ablock">
                <label for="Control_NationCode">民族编码:</label>
                <input type="text"  value="@Model.NationCode" class="mini-combobox" textfield="text" valuefield="id" emptytext="请选择..." url="/Common/GetComboData?table=em_pa_nation&textcolumn=nation_name&valuecolumn=nation_code" required="true" allowinput="false" shownullitem="true" nullitemtext="请选择..." required="true" />
            </div>

            <div class="ablock">
                <label for="Control_EducationCode">学历编码:</label>
                <input type="text"  value="@Model.EducationCode" class="mini-combobox" textfield="text" valuefield="id" emptytext="请选择..." url="/Common/GetComboData?table=em_pa_education&textcolumn=education_name&valuecolumn=education_code" required="true" allowinput="false" shownullitem="true" nullitemtext="请选择..." required="true" />
            </div>

            <div class="ablock">
                <label for="Control_ProfessionalTitleCode">职称编码:</label>
                <input type="text"  value="@Model.ProfessionalTitleCode" class="mini-combobox" textfield="text" valuefield="id" emptytext="请选择..." url="/Common/GetComboData?table=em_pa_Professional_title&textcolumn=Professional_title_name&valuecolumn=Professional_title_code" required="true" allowinput="false" shownullitem="true" nullitemtext="请选择..." required="true" />
            </div>

            <div class="ablock">
                <label for="Control_IfMarried">婚否:</label>
                <div id="Control_IfMarried" name="IfMarried" value="1" class="mini-checkbox" checked="true" readOnly="false" text="婚否"></div>
            </div>

            <div class="ablock">
                <label for="Control_NativePlace">籍贯:</label>
                <input type="text"  value="@Model.NativePlace" class="mini-textbox" name="NativePlace" id="Control_NativePlace" vtype="maxLength:40" />
            </div>

            <div class="ablock">
                <label for="Control_Idcard">身份证号:</label>
                <input type="text"  value="@Model.Idcard" class="mini-textbox" name="Idcard" id="Control_Idcard" vtype="maxLength:20" onvalidation="onIDCardsValidation" />
            </div>

            <div class="ablock">
                <label for="Control_AccedeDay">就职日期:</label>
                <input type="text" id="Control_AccedeDay" name="AccedeDay"  value="@Model.AccedeDay" class="mini-datepicker"  format="yyyy-MM-dd"   showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_FamilyPhone">家庭电话:</label>
                <input type="text"  value="@Model.FamilyPhone" class="mini-textbox" name="FamilyPhone" id="Control_FamilyPhone" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_Handset">手机:</label>
                <input type="text"  value="@Model.Handset" class="mini-textbox" name="Handset" id="Control_Handset" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_eMail">E-mail:</label>
                <input type="text"  value="@Model.eMail" class="mini-textbox" name="eMail" id="Control_eMail" vtype="maxLength:30" />
            </div>

            <div class="ablock">
                <label for="Control_FamilyAddress">家庭住址:</label>
                <input type="text"  value="@Model.FamilyAddress" class="mini-textbox" name="FamilyAddress" id="Control_FamilyAddress" vtype="maxLength:40" />
            </div>

            <div class="ablock">
                <label for="Control_Postalcode">邮政编码:</label>
                <input type="text"  value="@Model.Postalcode" class="mini-textbox" name="Postalcode" id="Control_Postalcode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_GraduateAcademy">毕业院校:</label>
                <input type="text"  value="@Model.GraduateAcademy" class="mini-textbox" name="GraduateAcademy" id="Control_GraduateAcademy" vtype="maxLength:40" />
            </div>

            <div class="ablock">
                <label for="Control_GraduateDay">毕业时间:</label>
                <input type="text" id="Control_GraduateDay" name="GraduateDay"  value="@Model.GraduateDay" class="mini-datepicker"  format="yyyy-MM-dd"  showOkButton="true" showClearButton="true" required="false" />
            </div>

            <div class="ablock">
                <label for="Control_dCode">部门编码:</label>
                <input type="text"  value="@Model.dCode" class="mini-textbox" name="dCode" id="Control_dCode" vtype="maxLength:50" />
            </div>

            <div class="ablock">
                <label for="Control_bCode">分店编码:</label>
                <input type="text"  value="@Model.bCode" class="mini-textbox" name="bCode" id="Control_bCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_DutyCode">职务编码:</label>
                <input type="text"  value="@Model.DutyCode" class="mini-combobox" textfield="text" valuefield="id" emptytext="请选择..." url="/Common/GetComboData?table=em_pa_duty&textcolumn=duty_name&valuecolumn=duty_code" required="true" allowinput="false" shownullitem="true" nullitemtext="请选择..." required="true" />
            </div>

            <div class="ablock">
                <label for="Control_BankAccount">银行帐号:</label>
                <input type="text"  value="@Model.BankAccount" class="mini-textbox" name="BankAccount" id="Control_BankAccount" vtype="maxLength:30" />
            </div>

            <div class="ablock">
                <label for="Control_PensionAccount">养老保险帐号:</label>
                <input type="text"  value="@Model.PensionAccount" class="mini-textbox" name="PensionAccount" id="Control_PensionAccount" vtype="maxLength:30" />
            </div>

            <div class="ablock">
                <label for="Control_EmState">状态:</label>
                <input type="text"  value="@Model.EmState" class="mini-textbox" name="EmState" id="Control_EmState" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_Stature">身高:</label>
                <input type="text" id="Control_Stature" name="Stature"  value="@Model.Stature" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_Width">体重:</label>
                <input type="text" id="Control_Width" name="Width"  value="@Model.Width" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

