@model YiQiWorkFlow.Domain.Fb.FbGoodsArchivesBar
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>商品销售码编辑</title>
    <link type="text/css" rel="Stylesheet" href="/Styles/editPage.css" />
    <script type="text/javascript" src="/scripts/boot.js"></script>
    <script type="text/javascript" src="/Scripts/editPage.js"></script>
    <script type="text/javascript"> var pageTitle = "商品销售码"; var formChanged = false; var pageType = "Edit"; var createTime = "2014/2/13 20:26:47";var id="@Model.Id";pageName="FbGoodsArchivesBarEdit"; </script>
	<script type="text/javascript">
        function SaveData() {
            var form = new mini.Form("#formMain"); // default form
            var o = form.getData();
            $.ajax({
                url: "/Fb/SaveFbGoodsArchivesBar",
                type: 'post',
                data: o,
                cache: false,
				dataType:"json",
                success: function (r) {
                    if (r.IsSuccess == true) {
                        closeWithNoValidate();
                    } else {
                        $("#Tooltip_Critical_FbGoodsArchivesBar .content").first().text(r.Message);
                        $("#Tooltip_Critical_FbGoodsArchivesBar").show("fast");
                        form.unmask();
                        $(document).scrollTop(0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#Tooltip_Critical_FbGoodsArchivesBar .content").first().text(jqXHR.responseText);
                    $("#Tooltip_Critical_FbGoodsArchivesBar").show("fast");
                    form.unmask();
					$(document).scrollTop(0);
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>
            商品销售码编辑
        </h1>
        <div class="tooltip warning hidden" id="Tooltip_Warning_FbGoodsArchivesBar">
            <img src="/images/Warning.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于商品销售码编辑页面的警告信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip info hidden" id="Tooltip_Info_FbGoodsArchivesBar">
            <img src="/images/Info.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于商品销售码编辑页面的提示信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip help hidden" id="Tooltip_Help_FbGoodsArchivesBar">
            <img src="/images/Help.png" alt="Warning" height="48" width="48" />
			<p class="content">
            	此处填写关于商品销售码编辑页面的帮助信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <div class="tooltip critical hidden" id="Tooltip_Critical_FbGoodsArchivesBar">
            <img src="/images/critical.png" alt="Warning" height="48" width="48" />
			<p class="content">
            此处填写关于商品销售码编辑页面的出错信息
			</p>
            <div class="button-close">
                x</div>
            <div class="buttonGroup">
                <input type="button" class="myYellowButton buttonNoMoreShow" value="不再显示" />
                <input type="button" class="myYellowButton buttonClose" value="关闭" />
            </div>
        </div>
        <form id="formMain" method="post" action="">
        <fieldset>
            <legend>基本信息</legend>
            <div class="ablock">
                <label for="Control_GoodsCode">商品编码:</label>
                <input type="text"  value="@Model.GoodsCode" class="mini-textbox" name="GoodsCode" id="Control_GoodsCode" vtype="maxLength:20"required="true" />
            </div>

            <div class="ablock">
                <label for="Control_GoodsBarCode">商品销售码:</label>
                <input type="text"  value="@Model.GoodsBarCode" class="mini-textbox" name="GoodsBarCode" id="Control_GoodsBarCode" vtype="maxLength:20"required="true" />
            </div>

            <div class="ablock">
                <label for="Control_GoodsBarName">销售名称:</label>
                <input type="text"  value="@Model.GoodsBarName" class="mini-textbox" name="GoodsBarName" id="Control_GoodsBarName" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PackUnitCode">包装单位:</label>
                <input type="text"  value="@Model.PackUnitCode" class="mini-textbox" name="PackUnitCode" id="Control_PackUnitCode" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PackCoef">包装系数:</label>
                <input type="text" id="Control_PackCoef" name="PackCoef"  value="@Model.PackCoef" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="2"/>
            </div>

            <div class="ablock">
                <label for="Control_QtyType">计量方式:</label>
                <input type="text"  value="@Model.QtyType" class="mini-textbox" name="QtyType" id="Control_QtyType" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_PriceType">计价方式:</label>
                <input type="text"  value="@Model.PriceType" class="mini-textbox" name="PriceType" id="Control_PriceType" vtype="maxLength:20" />
            </div>

            <div class="ablock">
                <label for="Control_SalePrice">销售价:</label>
                <input type="text" id="Control_SalePrice" name="SalePrice"  value="@Model.SalePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="4"/>
            </div>

            <div class="ablock">
                <label for="Control_VipPrice">会员价:</label>
                <input type="text" id="Control_VipPrice" name="VipPrice"  value="@Model.VipPrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
            </div>

            <div class="ablock">
                <label for="Control_TradePrice">批发价:</label>
                <input type="text" id="Control_TradePrice" name="TradePrice"  value="@Model.TradePrice" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
            </div>

            <div class="ablock">
                <label for="Control_PushRate">营业员提成:</label>
                <input type="text" id="Control_PushRate" name="PushRate"  value="@Model.PushRate" class="mini-spinner" minValue="0" maxValue="1000" decimalPlaces="6"/>
            </div>

            <div class="ablock">
                <label for="Control_IfMainBar">是否主销售码:</label>
                <div id="Control_IfMainBar" name="IfMainBar" value="1" class="mini-checkbox" checked="true" readOnly="false" text="主销售码"></div>
            </div>

            <div class="ablock">
                <label for="Control_IfExamine">是否审核:</label>
                <div id="Control_IfExamine" name="IfExamine" value="1" class="mini-checkbox" checked="true" readOnly="false" text="审核"></div>
            </div>

            <div class="ablock" style="display:none">
                <label for="Control_Id">:</label>
                <input id="Control_Id" value="@Model.Id" name="Id" class="mini-hidden"/>
            </div>

           
        </fieldset>
        <div class="clear">
        </div>
        <div class="control-panel">
            <div class="control-button">
                <input type="button" class="myButton" id="btnFormSubmit" value="保存(Ctrl+S)" />
                <input type="reset" class="myGrayButton" id="btnFormReset" value="重置(Esc)" />
                <input type="button" class="myRedButton" id="btnClosePage" value="关闭(Ctrl+Q)" />
            </div>
            <div class="botton-up">
            </div>
        </div>
        </form>
    </div>
</body>
</html>

